<div>    
    <script type="text/ng-template" id="help_search.html">
        <div class="modal-header">
            <h3 class="modal-title">Help: Search</h3>
        </div>
        <div class="modal-body">
			<center><img class="col-xs-12 col-sm-12 col-md-8 col-lg-4" src="./images/logo_pfs.png"></center>
			<h3>How to search?</h3>
			<p>You can add any number of registered players and/or groups to your search queries by selecting them by name or PFS number in the search player and group inputs. After you select a player, press enter to select a second one, and so on. You can remove players and groups from your search again by clicking the 'X' behind their name.</p>
			<p>For the players you have selected the pfstracker will make sure to filter out any content they have already played based on what they have reported (see the report page in their profile) as having played.</p>
			<p>Example: <i>Bob has played 50 scenarios, if someone selects Bob as a search criteria the pfstracker will filter out all 50 of the scenarios Bob has played already.</i></p>
			<p>The content that is left has detailed information about if the selected players have GMed it already or perhaps played it in a different campaign.</p>

			<h4>Adding groups</h4>
			<p>Adding a group is slightly different then adding a single player. You can add any number of groups to your search and the pfstracker will filter content based on the players in that group. When selecting a group you can see how many players are in the group and who is the owner of the group. Once selected you can click on the group's name to see what players are in the group.</p>
			<p>Managing groups is done through the 'your groups' page after you login.</p>

			<h4>Adding a GM</h4>
			<p>You can also add a GM. You can only add one GM and it will not filter out any content GMed by the selected GM. It will, however, show you if a GM has already run some content or not. Handy information to make good decisions.</p>
			<p>Note that if you add a GM that is already selected as a player or as part of a group the tracker will filter out content played by the GM and list the GM as a player instead.</p>
        </div>
        <div class="modal-footer">
            <button class="button" ng-click="help.close()" type="button">Dismiss</button>
        </div>
    </script>
</div>