<div class="container">
	<div class="row home_logo">
		<center><img width="50%" src="./images/logo_pfs.png"></center>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="report-button col-sm-4"><button ng-click="vm.gotoReport()" type="button" class="btn btn-primary btn-lg btn-block">REPORT</button></div>
		<div class="search-button col-sm-4"><button ng-click="vm.gotoSearch()" type="button" class="btn btn-primary btn-lg btn-block">SEARCH</button></div>
		<div class="col-sm-2"></div>
	</div>
</div>