<ng-include src="'./views/partials/nav.html'"></ng-include>
<div id="main" class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
			<ng-include src="'./views/partials/logo.html'"></ng-include>
		</div>
	</div>
	<div class="scenario row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h3>Import from Paizo.com</h3>
			<div class="alert alert-danger">
				<h4><span class="glyphicon glyphicon-alert"></span> BETA CONTENT</h4>
				<p>Beware, you are about to use beta content. 'Importing from Paizo.com' is currently in development. If you use this function now there is a high likelyhood that you will lose some of your data. So why do it? You would be helping me, the developer, test it. If you do end up trying this out and things do not work out as you expected or you get errors, you can let me know by opening a issue on the <a href="https://www.github.com/saekort/PFS-Scenariotracker" target="_blank">github repository</a>.</p>
				<p>So once more: Only use this if you intend to help testing!</p>
			</div>
			
			<h4>How to import from Paizo.com</h4>
			<p>If you have played a lot of scenarios then you might know that it is a lot of work to keep them properly updated on both paizo.com and over here. Unfortunately we do not have the ability to connect to paizo.com for you. The people over at Paizo have great webdevelopers, that are extremely busy. So with the help of Michael we thought of a way to still automate some of that work.</p>
			<p>To get started you have to go through a few steps. For now some of those steps are a bit technical, but if this works out we will see what we can do to make it easier on you.</p>
			<ol>
				<li>Download <a href="http://www.greasespot.net/" target="_blank">Greasemonkey</a> or <a href="https://tampermonkey.net/" target="_blank">Tampermonkey</a>. These are addons for browsers to help you execute a export script on paizo.com.</li>
				<li>Download and install the export script for paizo.com from <a href="https://github.com/mogmismo/pfs-sessiontracker-userscript/blob/master/My%20PFS%20session%20downloader.user.js" target="_blank">Michael's github repository</a>.</li>
				<li>Go to <a href="https://secure.paizo.com/store/byCompany/p/paizoInc/pathfinder/pathfinderSociety/myAccount/sessions" target="_blank">https://secure.paizo.com/store/byCompany/p/paizoInc/pathfinder/pathfinderSociety/myAccount/sessions</a> on paizo.com and login if requested.</li>
				<li>A small popup should then give you two options: Saving played info and saving ran info. Make sure you extend both tabs on this page and then choose one of the options. This will generate a bunch of code. Copy that code to your clipboard.</li>
				<li>Paste the code in the proper field down below. So choose either played or ran option.</li>
				<li>Kick back and enjoy!</li> 
			</ol>
			<form>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
					<h4>Import played data</h4>
					<textarea class="form-control" rows="5" ng-model="vm.pc_data"></textarea><br>
					<button class="button" ng-click="vm.process('pc')">Process played data!</button>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
					<h4>Import ran data</h4>
					<textarea class="form-control" rows="5" ng-model="vm.gm_data"></textarea><br>
					<button class="button" ng-click="vm.process('gm')">Process ran data!</button>
				</div>
			</form>
			<div ng-if="vm.log != ''">
				<h4>Import log</h4>
				<div ng-bind-html="vm.log | unsafe"></div>
			</div>
		</div>
	</div>
</div>