<ng-include src="'./views/partials/nav.html'"></ng-include>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
			<ng-include src="'./views/partials/logo.html'"></ng-include>
		</div>
	</div>
	<div class="row scenario">
	
			<h2>Known issues</h2>
			<div class="alert alert-danger"><strong>Warning:</strong> Before you report something as a bug please force refresh your browser to download all the latest files. Sometimes browsers cache, which is totally not cool!</div>
			<p>This is a <strong>beta</strong> mail suggestions and/or bug reports to <a href="mailto:simon.kort@gmail.com">Simon</a>.</p>
			<h3>Features not yet in</h3>
			<ul>
				<li>Support for adventure paths and modules</li>
				<li>On the search screen see if players have GMed a scenario or maybe played it in the other campaign already</li>
				<li>Change the way searching on level works</li>
				<li>Actually always include evergreens even if players have already played them, maybe with option to turn it off and exclude them anyway</li>
				<li>Add the emerald spire</li>
				<li>Add most adventure paths</li>
			</ul>
			<h3>Bugs</h3>
			<ul>
				<li>When turning the description on a scenario off again it leaves space</li>
				<li>Optimize extra small resolution layout (possibly also the small resolution layout)</li>
				<li>Make language usage more consistent</li>
			</ul>
			<h3>Roadmap (far future)</h3>
			<ul>
				<li>Possibly register what character did what scenario. Though that is also on paizo.com...</li>
				<li>Implement something like a wishlist of what to play</li>
				<li>See if we can possibly report for an entire party from the search screen</li>
			</ul>
			<h2>Changelog</h2>
			<ul>
				<li>Bugfix: On report: If you go back to overview after reporting a scenario in a category it does not auto update</li>
				<li>Added search by author</li>
				<li>Added known issues page</li>
			</ul>
			
	</div>
</div>