<ng-include src="'./views/partials/nav.html'"></ng-include>

<div id="main" class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
			<ng-include src="'./views/partials/logo.html'"></ng-include>
		</div>
	</div>
	<div class="row scenario">
		<h2 translate>Profile</h2>
		<strong class="dangerzone" ng-show="vm.profileUpdated"translate>Profile information successfully updated</strong>
		<p translate>Edit your profile information here.</p>
		<form class="form-horizontal" name="updateProfile">
			<div class="register">				
				<p translate>Your username does not need to be unique, use the name that your fellow pathfinders know you by.</p>
				<label class="control-label" translate>Username</label>
				<input id="playername" class="playerselect form-control" placeholder="{{'Add your username here'|translate}}" required ng-model="vm.playername">
			</div>
			<div class="register">
				<label class="control-label" translate>PFS number</label>
				<input id="playernumber" class="playerselect form-control" ng-change="vm.checkPfsnumber()" placeholder="{{'PFS number'|translate}}" required ng-model="vm.pfsnumber">
				<span class="red" ng-show="vm.invalidpfsnumber" translate>PFS number is already registered, use a different one</span>
			</div>
			<div class="register">
				<label class="control-label" translate>Country (optional)</label>
				<select class="form-control" ng-options="country.name for country in vm.countries" ng-model="vm.country" style="width:30%">
					<option value="" selected hidden />
				</select>
			</div>
			<div class="checkbox">
				<input id="scenarios" type="checkbox" ng-model="vm.playerreporting">
				<label class="report-title" for="scenarios"></label>
				<b translate>Others may report for me</b>
			</div>
			<p translate>If you check this box, other people (for example your GM) may report the scenarios that you have played.</p>
			<div class="register">
				<button class="button" ng-disabled="!vm.playername || !vm.pfsnumber || vm.invalidpfsnumber" ng-click="vm.savePlayer()" translate>Update profile</button>
			</div>
		</form>	
		<form name="changePassword">
			<hr>
			<p><strong class="dangerzone" translate>Danger zone (this will reset your password)</strong></p>
			<p translate>Note: The new password cannot be the same as the old password.</p>
			<div class="register">
				<label class="control-label" translate>Old password</label>
				<input id="old_password" type="password" name="old_password" class="playerselect form-control" placeholder="{{'Old password'|translate}}"
					ng-model="vm.old_password" data-ng-class="{'ng-invalid':changePassword.confirmPassword.$error.match}" pattern=".{8,20}">
			</div>						
			<div class="register">
				<label class="control-label" translate>New password</label>
				<input id="password" type="password" name="password" class="playerselect form-control" placeholder="{{'Password'|translate}}"
					ng-model="vm.playerpassword" data-ng-class="{'ng-invalid':changePassword.confirmPassword.$error.match}" pattern=".{8,20}">
			</div>
			<div class="register">
				<label class="control-label" translate>Repeat new password</label>
				<input id="password" type="password" name="confirmPassword" class="playerselect form-control" placeholder="{{'Repeat password'|translate}}" ng-model="vm.checkpassword" match="vm.playerpassword">
			</div>
			<div class="red" data-ng-show="changePassword.confirmPassword.$error.match" translate>Passwords do not match!</div>
			<div class="red" ng-show="changePassword.password.$error.pattern" translate>Password should be between 8 and 20 characters!</div>
			<strong class="red" ng-show="vm.changedPassword" translate>Password changed</strong>
			<div style="padding-top: 10px;">
				<button class="button" ng-disabled="changePassword.confirmPassword.$error.match || changePassword.password.$error.pattern" ng-click="vm.changePassword()" translate>Update password</button>
			</div>
		</form>	
	</div>
</div>