<ng-include src="'./views/partials/nav.html'"></ng-include>

<div id="main" class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
			<ng-include src="'./views/partials/logo.html'"></ng-include>
		</div>
	</div>
	<div class="row scenario">
		<h2 translate>Register</h2>
		<div class="register">
			<strong class="dangerzone" ng-show="vm.message != ''" translate>Registration successful, you may now login!</strong>
		</div>		
		<p class="red" translate><strong>Important:</strong> If you used to have a column in the old Google spreadsheet then do <strong>not</strong> register. Instead mail to simon dot kort @ gmail dot com and state your email address and pfsnumber. Your account will then be claimed and you will not lose any data.</p>
		<p translate>To start reporting your own progress, please register using the form below</p>
		<form class="form-horizontal" name="myForm">
			<div class="register">
				<label class="control-label" translate>Email</label>
				<input id="email" type="email" class="playerselect form-control" placeholder="{{'Email'|translate}}" required ng-model="vm.playeremail">
			</div>
			<div class="register">
				<label class="control-label" translate>Repeat Email</label>
				<input id="email" type="email" name="confirmEmail" class="playerselect form-control" placeholder="{{'Repeat Email'|translate}}" required ng-model="vm.checkemail" match="vm.playeremail">
			</div>
			<div class="red" data-ng-show="myForm.confirmEmail.$error.match" translate>Emails do not match!</div>
			<div class="register">
				<label class="control-label" translate>Password</label>
				<input id="password" type="password" name="password" class="playerselect form-control" placeholder="{{'Password'|translate}}" required
					ng-model="vm.playerpassword" data-ng-class="{'ng-invalid':myForm.confirmPassword.$error.match}" pattern=".{8,20}">
			</div>
			<div class="register">				
				<label class="control-label" translate>Repeat Password</label>
				<input id="password" type="password" name="confirmPassword" class="playerselect form-control" placeholder="{{'Repeat password'|translate}}" required ng-model="vm.checkpassword" match="vm.playerpassword">
			</div>
			<div class="red" data-ng-show="myForm.confirmPassword.$error.match" translate>Passwords do not match!</div>
			<div class="red" ng-show="myForm.password.$error.pattern" translate>Password should be between 8 and 20 characters</div>
			<div class="register">							
				<label class="control-label" translate>Username</label>
 				<p translate>Your username does not need to be unique, use the name that your fellow pathfinders know you by.</p>
				<input id="playername" class="playerselect form-control" placeholder="{{'Add your name here'|translate}}" required  ng-model="vm.playername">
			</div>
			<div class="register">				
				<label class="control-label" translate>PFS number</label>
				<input id="playernumber" class="playerselect form-control" ng-change="vm.checkPfsnumber()" placeholder="{{'PFS number'|translate}}" required ng-model="vm.pfsnumber">
				<span class="red" ng-show="vm.invalidpfsnumber" translate>PFS number is already registered, use a different one</span>
			</div>
			<div class="checkbox">
				<input id="scenarios" type="checkbox" ng-model="vm.othersmayreport" value="">
				<label class="report-title" for="scenarios"></label>
				<b translate>Others may report for me</b>
			</div>
			<p translate>If you check this box, other people (for example your GM) may report the scenarios that you have played.</p>
			<div class="register">				
				<button class="button" ng-disabled="myForm.confirmEmail.$error.match || myForm.confirmPassword.$error.match || myForm.password.$error.pattern || vm.invalidpfsnumber" ng-click="vm.savePlayer()" translate>Register</button>
			</div>
			
			<div class="register">
				<strong class="dangerzone" ng-show="vm.message != ''" translate>Registration successful, you may now login!</strong>
			</div>
		</form>			
	</div>
</div>