<ng-include src="'./views/partials/nav.html'"></ng-include>

<div id="main" class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
			<ng-include src="'./views/partials/logo.html'"></ng-include>
		</div>
	</div>
	<div class="scenario">
		<h2>Register</h2>
		<p>Bla bla bla lorem ipsum more stuff</p>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label">Email</label> 
				<input id="email" type="email" class="playerselect form-control" placeholder="Email" required ng-model="vm.playeremail">
			</div>
			<div class="form-group">
				<label class="control-label">Password</label> 
				<input id="password" type="password" class="playerselect form-control" placeholder="Password" required ng-model="vm.playerpassword">
			</div>
			<div class="form-group">				
			<label class="control-label">Repeat Password</label> 
			<input id="password" type="password" class="playerselect form-control" placeholder="Repeat password" required ng-model="vm.checkpassword">
			</div>
			<div class="form-group">				
			<label class="control-label">Username</label> 
			<input id="playername" class="playerselect form-control" placeholder="Add your name here" required  ng-model="vm.playername">
			</div>
			<div class="form-group">				
			<label class="control-label">PFS number</label>
			<input id="playernumber" class="playerselect form-control" placeholder="PFS number" type="number" required ng-model="vm.playernumber">
			</div>
			<div class="form-group">				
				<button class="button" ng-click="vm.savePlayer()">Add</button>
			</div>
		</form>	
	</div>
</div>