<ng-include src="'./views/partials/nav.html'"></ng-include>
<div class="container-fluid">
	<div class="row">
		<ng-include src="'./views/partials/logo.html'"></ng-include>
		<div class="form-inline col-sm-10">
			<div class="form-group">
				<div class="input-group">
					<input id="playerselect" class="playerselect form-control" ng-model="vm.playerselect" typeahead="person for person in vm.getPeople($viewValue)" typeahead-min-length="1" placeholder="Select a player by username or pfsnumber">
					<span class="input-group-btn">
						<button class="btn btn-primary btn-add" ng-click="vm.selectPlayer()()">Select</button>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div>
								<i class="glyphicon glyphicon-search input-lg" style="color: grey;"></i>
		<span class="spinner" us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
	</div>
	<div class="row" ng-hide="vm.player == null">
		<div class="col-sm-2"></div>
		<div class="col-sm-10 reportingfor">Reporting for {{vm.player.name}} ({{vm.player.pfsnumber}})</div>
	</div>
	<div class="row" ng-hide="vm.player == null">
		<div class="col-sm-2">
			<button class="btn btn-default col-sm-12" ng-hide="vm.atOverview" ng-click="vm.changeReportType('overview')">{{vm.overview.name}}</button>
			<button class="btn btn-default col-sm-12" ng-repeat="reportoption in vm.reportoptions" ng-click="vm.changeReportType(reportoption)">{{reportoption.name}}</button>
		</div>
		<div class="col-sm-10" ng-hide="vm.atOverview">
			<div class="row vertical-container">
				<span class="vertical pfs">PFS</span>&nbsp;&nbsp;&nbsp;
				<span class="vertical core">CORE</span>&nbsp;&nbsp;&nbsp;
				<span class="vertical pfsgm">PFS GM</span>&nbsp;&nbsp;
				<span class="vertical coregm">CORE GM</span>
			</div>
			<div ng-repeat="content in vm.content track by $index" class="reportoption">
				<input ng-model="content.state.pfs" type="checkbox" ng-click="vm.saveScenario(content.id, 'pfs', $index)">&nbsp;&nbsp;
				<input ng-model="content.state.core" type="checkbox" ng-click="vm.saveScenario(content.id, 'core', $index)">&nbsp;&nbsp;
				<input ng-model="content.state.pfs_gm" type="checkbox" ng-click="vm.saveScenario(content.id, 'pfs_gm', $index)">&nbsp;&nbsp;
				<input ng-model="content.state.core_gm" type="checkbox" ng-click="vm.saveScenario(content.id, 'core_gm', $index)">&nbsp;&nbsp;
				#{{content.season}}-{{content.number}} {{content.name}}
			</div>
		</div>
		<div class="col-sm-10" ng-show="vm.atOverview && vm.player != null">
			<div class="row playedprogress" ng-repeat="playerprogress in vm.playerprogress">
				<div ng-show="playerprogress.season == 'mod' || playerprogress.season == 'ap'"></div>
				<div class="col-sm-4" ng-hide="playerprogress.season == 'mod' || playerprogress.season == 'ap'">
					<span class="progress-label">Season {{playerprogress.season}}</span>
					<div class="progress" style="width: 100%">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{(playerprogress.pfs / playerprogress.total) * 100}}%; min-width: 5%;">
				    		{{playerprogress.pfs}}/{{playerprogress.total}}
				  		</div>
			  		</div>
			  	</div>
			</div>
		</div>
	</div>		
</div>