<ng-include src="'./views/partials/nav.html'"></ng-include>
<div class="container-fluid">
	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 filterbar">
		<ng-include src="'./views/partials/logo.html'"></ng-include>
		<h2>Filters</h2>
			<form>
				<div class="form-group has-feedback">
					<label for="scenarioSelect">Scenario name</label>
					<input type="text" class="form-control" id="scenarioSelect" ng-model="vm.filters.search" ng-change="vm.getScenarios()" ng-model-options="{debounce: 300}" placeholder="Search scenarios"><i class="glyphicon glyphicon-search form-control-feedback" style="color: grey;"></i>
				</div>			
				<div class="form-group filter">
					<strong>Level range:</strong>
					<div range-slider 
						min="1" 
						max="12"
						step="1" 
						model-min="vm.filters.levelRangeMin" 
						model-max="vm.filters.levelRangeMax" 
						attach-handle-values="true"
						show-values="true"
						on-handle-up="vm.getScenarios()"></div>
				</div>
				<div class="form-group filter">
					<strong>Season</strong><br>
					 	<div class="col-xs-6 col-sm-12 col-md-6">
							<div class="checkbox" ng-repeat="season in vm.filters.seasons | filter: {col: 1}">
								<input id="season-{{season.key}}" type="checkbox" name="season" ng-model="season.checked" value="{{season.key}}" ng-click="vm.getScenarios()">
								<label class="report-title" for="season-{{season.key}}" title="{{ season.name }}"></label>
								<span class="report-title">{{ season.name }}</span>
							</div>
						</div>
						<div class="col-xs-6 col-sm-12 col-md-6">
							<div class="checkbox " ng-repeat="season in vm.filters.seasons | filter: {col: 2}">
								<input id="season-{{season.key}}" type="checkbox" name="season" ng-model="season.checked" value="{{season.key}}" ng-click="vm.getScenarios()">
								<label class="report-title" for="season-{{season.key}}" title="{{ season.name }}"></label>
								<span class="report-title">{{ season.name }}</span>
							</div>
						</div>	
				</div>
				<div class="form-group filter">
					<strong>Type campaign:</strong><br>
					<div class="col-xs-6 col-sm-12 col-md-6">
						<input id="type_pfs" type="radio" name="campaign" value="pfs" ng-model="vm.filters.campaign" ng-click="vm.getScenarios()">
						<label for="type_pfs" class=""></label>
						<span class="report-title">PFS</span>
					</div>
					<div class="col-xs-6 col-sm-12 col-md-6">						
						<input id="type_core" type="radio" name="campaign" value="core" ng-model="vm.filters.campaign" ng-click="vm.getScenarios()">
						<label for="type_core" class=""></label>
						<span class="report-title">Core</span>
					</div>
				</div>
				<div class="form-group filter">
					<strong>Other:</strong><br>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="checkbox">
							<input id="evergreen" type="checkbox" ng-model="vm.filters.evergreen" value="" ng-click="vm.getScenarios()">
							<label class="report-title" for="evergreen"></label>
							<span class="report-title"><span class="glyphicon glyphicon-leaf evergreen"></span> Only evergreens</span>
						</div>
						<div class="checkbox">
							<input id="retired" type="checkbox" ng-model="vm.filters.retired" value="" ng-click="vm.getScenarios()">
							<label class="report-title" for="retired"></label>
							<span class="report-title"><span class="glyphicon glyphicon-remove archived"></span> Include retired scenarios</span>
						</div>
					</div>
					<div class="checkbox" ng-hide="1==1">
						<label class="checkbox"><input type="checkbox" value="" ng-click="vm.getScenarios()">Include modules (NYI)</label>
					</div>
					<div class="checkbox" ng-hide="1==1">
						<label class="checkbox"><input type="checkbox" value="" ng-click="vm.getScenarios()">Include adventure paths (NYI)</label>
					</div>
				</div>
				<div class="form-group has-feedback" ng-hide="1==1">
					<label for="authorSelect">Author(s)</label>
					<input type="text" class="form-control" id="authorSelect" placeholder="Search author (NYI)"><i class="glyphicon glyphicon-search form-control-feedback" style="color: grey;"></i>
				</div>
			</form>
	</div>             
	
	<div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
		<div class="row">
			<div class="playersearch-container">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 input-group has-feedback playersearch">
					<input id="playersearch" class="search form-control" ng-model="vm.filters.playersearch" typeahead="person for person in vm.getPeople($viewValue)" typeahead-min-length="1" 
						typeahead-template-url="playersearchTemplate.html" typeahead-input-formatter="vm.formatPlayersearch($model)" placeholder="Search for players">
					<i class="glyphicon glyphicon-search form-control-feedback" style="color: grey; margin-right: 47px;"></i>
					<span class="input-group-btn">
						<button class="button" ng-click="vm.addPlayer()">Add</button>
					</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div ng-show="vm.people.length > 0" class="filtering">Filtering: 
				<span ng-repeat="person in vm.people">
					<span class="filter_player label label-default color-background-dark">{{person.name}} ({{person.pfsnumber}}) <a href="" role="button" ng-click="vm.removePlayer($index)">X</a></span>&nbsp;
				</span>
			</div>
		</div>		

			<div class="pfs-pagination">
				<pagination class="pagination-sm" ng-model="vm.pagination.currentPage" boundary-links="true" total-items="vm.pagination.totalItems" items-per-page="20" max-size="5" previous-text="Previous" next-text="Next" first-text="First" last-text="Last" ng-change="vm.changePage()"></pagination>
			</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 found bg-info text-info color-background-light">Found a total of <strong>{{vm.pagination.totalItems}}</strong> scenarios<span ng-hide="vm.people.length == 0"> in the <strong>{{vm.filters.campaign}} campaign</strong> not yet played by any filtered players</span></div>		
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 found bg-info text-info color-background-light" ng-show="vm.noScenarios">No playable options were found. Try changing your search filters or selected players.</div>
			<div>
				<span class="spinner" us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
			</div>
			<div ng-repeat="scenario in vm.scenarios">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 scenario"> 
					<div class="title">
						<span ng-if='scenario.archived != NULL' class="glyphicon glyphicon-remove archived" title="You cannot play this scenario for credit, it was retired on {{scenario.archived}}"></span>					
						<span ng-if='scenario.evergreen == 1' class="glyphicon glyphicon-leaf evergreen" title="Evergreen"></span>
						#{{scenario.season}}-{{scenario.number}} {{scenario.name}} 
						<span class="authors">by </span><span class="authors" ng-show="scenario.authors.length == 0">Unknown</span><span class="authors" ng-repeat="author in scenario.authors">{{$first ? '' : $last ? ' and ' : ', '}}{{author}}</span>
						<button class="button pull-right" ng-click="scenario.collapsed = !scenario.collapsed">Toggle description</button>
					</div>	
					<span collapse="scenario.collapsed">{{scenario.description}}<br></span>
					<span>Type: {{scenario.type}}</span>
					<br>	
					<span>Tier: <span ng-show="!scenario.tier">Unknown</span>{{scenario.tier}} (<span ng-show="scenario.subtiers.length == 0">Unknown</span><span ng-repeat="subtier in scenario.subtiers">{{$first ? '' : ', '}}{{subtier}}</span>)</span>	
				</div>
			</div>			
		</div>
			<div class="pfs-pagination">
				<pagination class="pagination-sm" ng-model="vm.pagination.currentPage" boundary-links="true" total-items="vm.pagination.totalItems" items-per-page="20" max-size="5" previous-text="Previous" next-text="Next" first-text="First" last-text="Last" ng-change="vm.changePage()"></pagination>
			</div>		
	</div>
</div>