<ng-include src="'./views/partials/nav.html'"></ng-include>
<div id="main" class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
			<ng-include src="'./views/partials/logo.html'"></ng-include>
		</div>
	</div>
	<div class="row scenario">
		<h2>The Pathfinder Society Sessiontracker</h2>
		<p>This tool was developed as a means to easily track who has played what scenarios for Pathfinder Society. At first there was a spreadsheet, but that did not scale. So some webdevelopers went at it and this is the result!</p>
		<div class="alert alert-danger">This website uses trademarks and/or copyrights owned by Paizo Inc., which are used under Paizo's Community Use Policy. We are expressly prohibited from charging you to use or access this content. This website is not published, endorsed, or specifically approved by Paizo Inc. For more information about Paizo's Community Use Policy, please visit <a href="http://paizo.com/communityuse" target="_blank">paizo.com/communityuse</a>. For more information about Paizo Inc. and Paizo products, please visit <a href="http://paizo.com" target="_blank">paizo.com</a>.</div>
	</div>
</div>