<ng-include src="'./views/partials/nav.html'"></ng-include>
<ng-include src="'./views/partials/confirmDeleteCharacter.html'"></ng-include>
<div id="main" class="container">
	<!-- <div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
			<ng-include src="'./views/partials/logo.html'"></ng-include>
		</div>
	</div> -->
	<div class="scenario row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-3">
			<div>
				<h3 ng-show="vm.status == 'edit'">Editing character</h3>
				<h3 ng-show="vm.status == 'new'">New character</h3>
				<form  ng-show="vm.status == 'new' || vm.status == 'edit'" name="character">
					<div class="form-group">
						<label>Name:</label> <input type="text" class="form-control" required ng-model="vm.character.name">
					</div>
					<div class="form-group">
						<label>Character #:</label> <select class="form-control" required ng-options="number for number in vm.options.numbers" ng-model="vm.character.number"></select>
					</div>				
					<div class="form-group">
						<label>Class:</label> <input type="text" class="form-control" ng-model="vm.character.class">
					</div>					
					<div class="form-group">
						<label>Level:</label> <select class="form-control" ng-options="level for level in vm.options.levels" ng-model="vm.character.level"></select>
					</div>
					<div class="form-group">
						<label>Faction:</label> <select class="form-control" ng-options="faction.name for faction in vm.options.factions" ng-model="vm.character.faction"></select>
					</div>
					<div class="form-group">
						<label>Campaign:</label> <select class="form-control" ng-options="campaign for campaign in vm.options.campaigns" ng-model="vm.character.campaign"></select>
					</div>
					<div class="form-group">
						<label>Experience:</label> <input class="form-control" ng-model="vm.character.exp">
					</div>					
					<div class="form-group">
						<button class="button" ng-disabled="character.$invalid" ng-show="vm.status == 'new'" ng-click="vm.saveCharacter()">Create</button>
						<button class="button" ng-disabled="character.$invalid" ng-show="vm.status == 'edit'" ng-click="vm.saveCharacter()">Save</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
			<h1><i class="fa fa-male fa-fw"></i> Your characters</h1>
			<hr>
			<p>Here you can manage your Pathfinder Society characters. You can keep them here just to be pleased about it, or use them in the convention module. If you don't want to keep track of your characters here, that is just fine as well.</p>

			<div>
				<span class="spinner" us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
			</div>
			
			<div class="text-center" ng-show="vm.characters.length == 0"><h3>No characters found</h3></div>
			
			<ul class="characters-list-header" ng-hide="vm.characters.length == 0">
				<li class="row bold">
					<span class="col-xs-1">ID</span>
					<span class="col-xs-2">Name</span>
					<span class="col-xs-1">Fact.</span>
					<span class="col-xs-1">Camp.</span>
					<span class="col-xs-4">Class(es)</span>
					<span class="col-xs-1">XP</span>
					<span class="col-xs-2 text-center">Manage</span>
				</li>
			</ul>
			
			<ul class="characters-list">
				<li class="row" ng-repeat="character in vm.characters">
					<span class="col-xs-1">#{{character.number}}</span>				
					<span class="col-xs-2">{{character.name | limitTo : 15 : 0}}</span>
					<span ng-show="character.faction" class="col-xs-1 text-center"><img class="character-page-faction" ng-if="character.faction != ''" ng-src="./images/factions/{{character.faction}}.png"></span>
					<span ng-hide="character.faction" class="col-xs-1 text-center">?</span>
					<span class="col-xs-1">{{character.campaign}}</span>					
					<span class="col-xs-4">{{character.class || "?"}} ({{character.level || "?"}})</span>
					<span class="col-xs-1">{{character.exp}}xp</span>
					<span class="col-xs-2 text-center">
						<span class="glyphicon glyphicon-pencil" ng-click="vm.editCharacter($index)"></span>&nbsp;&nbsp;
						<span class="glyphicon glyphicon-trash red" ng-click="vm.confirmDeleteCharacter($index)"></span>
					</span>
				</li>
				<li class="text-center row li-button" ng-show="vm.status != 'new'" ng-click="vm.newCharacter()"><span class="glyphicon glyphicon-plus"></span> NEW CHARACTER</li>				
								
			</ul>			
		</div>
	</div>
</div>