<ng-include src="'./views/partials/nav.html'"></ng-include>
<ng-include src="'./views/partials/confirmDeleteGroup.html'"></ng-include>
<div id="main" class="container">
	<div class="scenario row" ng-show="vm.status == 'overview'">
		<h1><i class="fa fa-archive fa-fw"></i> Your groups</h1>
		<hr>
		<p>Here you can manage groups of players for easy searching. You can create your own groups, share them with other players or make them public. You can also get permission to use groups made by other players, you can see those here as well.</p>
		
		<div class="text-center" ng-show="vm.groups.length == 0"><h3>No groups found</h3></div>
		
		<ul class="characters-list-header" ng-hide="vm.characters.length == 0">
			<li class="row bold">
				<span class="col-xs-1">ID</span>
				<span class="col-xs-3">Name</span>
				<span class="col-xs-2">Owner</span>
				<span class="col-xs-2 text-center"># Users</span>
				<span class="col-xs-2 text-center"># Members</span>
				<span class="col-xs-2 text-center">Manage</span>
			</li>
		</ul>
		
		<ul class="characters-list">
			<li class="row" ng-repeat="group in vm.groups">
				<span class="col-xs-1">#{{group.id}}</span>
				<span class="col-xs-3">{{group.name | limitTo : 20 : 0}}</span>
				<span class="col-xs-2"><span ng-if="group.owner.pfsnumber == vm.main.$storage.user.pfsnumber">You</span><span ng-if="group.owner.pfsnumber !== vm.main.$storage.user.pfsnumber">{{group.owner.name}} ({{group.owner.pfsnumber}})</span></span>
				<span class="col-xs-2 text-center">{{group.users.length}}</span>
				<span class="col-xs-2 text-center">{{group.members.length}}</span>
				<span class="col-xs-2 text-center">
					<span class="glyphicon glyphicon-pencil" ng-click="vm.editGroup($index)"></span>&nbsp;&nbsp;
					<span class="glyphicon glyphicon-trash red" ng-click="vm.confirmDeleteGroup($index)"></span>
				</span>
				
				<div ng-show="1 != 1">
					Admins: <span ng-repeat="member in group.admins">{{member.name}} ({{member.pfsnumber}}){{$last ? '' : ($index==group.admins-2) ? ' and ' : ', '}}</span><span ng-if="group.admins.length == 0">-</span><br>
					Members: <span ng-repeat="member in group.members">{{member.name}} ({{member.pfsnumber}}){{$last ? '' : ($index==group.members-2) ? ' and ' : ', '}}<span ng-if="group.members.length == 0">-</span></span>
				</div>
			</li>
			
			<li class="text-center row li-button" ng-show="vm.status != 'new'" ng-click="vm.newGroup()"><span class="glyphicon glyphicon-plus"></span> NEW GROUP</li>
		</ul>
	</div>
	<div class="scenario row" ng-hide="vm.status == 'overview'">
		<h1 ng-show="vm.status == 'edit'"><i class="fa fa-archive fa-fw"></i> Editing group: {{vm.group.name}}</h1>
		<h1 ng-show="vm.status == 'new'"><i class="fa fa-archive fa-fw"></i> New group: {{vm.group.name}}</h1>
		<hr>
		<button class="button pull-right" ng-show="vm.status == 'edit' || vm.status == 'new'" ng-click="vm.toOverview()"><< Back to overview</button>
		<form  ng-show="vm.status == 'new' || vm.status == 'edit'" name="group">
			<div class="form-group">Note: You cannot change owners on groups yet. You cannot set groups to public yet either.</div>
			<div class="form-group">
				<h3>Group info</h3>
				<label>Group ID:</label> {{vm.group.id || "New group"}}
			</div>
			<div class="form-group">
				<label>Name:</label> <input type="text" class="form-control" required ng-model="vm.group.name">
			</div>
			<div class="form-group">
				<h3>Users:</h3>
				<div class="text-center" ng-show="vm.group.admins == 0"><h3>No users found</h3></div>
				<ul class="characters-list">
					<li class="row" ng-repeat="user in vm.group.users">
						<select class="col-xs-3 col-sm-2" required ng-options="userPermission.name for userPermission in vm.userPermissions" ng-model="user.permission"></select>
						<span class="col-xs-9 col-sm-10">{{user.name}} ({{user.pfsnumber}})</span>
					
					</li>
					<li class="text-center row li-button" ng-click="vm.addUser()"><span class="glyphicon glyphicon-plus"></span> ADD USER</li>
				</ul>
			</div>
			<div class="form-group">
				<h3>Members:</h3>
				<div class="text-center" ng-show="vm.group.members == 0"><h3>No members found</h3></div>
				<ul class="characters-list">
					<li class="row" ng-repeat="member in vm.group.members">{{member.name}} ({{member.pfsnumber}})</li>
					<li class="text-center row li-button" ng-click="vm.addMember()"><span class="glyphicon glyphicon-plus"></span> ADD MEMBER</li>
				</ul>
			</div>
			<div class="form-group">
				<button class="button" ng-disabled="group.$invalid" ng-show="vm.status == 'new'" ng-click="vm.saveGroup()">Create</button>
				<button class="button" ng-disabled="group.$invalid" ng-show="vm.status == 'edit'" ng-click="vm.saveGroup()">Save</button>
				<button class="button" ng-show="vm.status == 'edit' || vm.status == 'new'" ng-click="vm.toOverview()"><< Back to overview</button>
			</div>
		</form>
	</div>
</div>