<ng-include src="'./views/partials/nav.html'"></ng-include>
<div id="main" class="container">
	<!-- <div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
			<ng-include src="'./views/partials/logo.html'"></ng-include>
		</div>
	</div> -->
	<div class="login col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
		<h1><i class="fa fa-key fa-fw"></i> Password Reset</h1>
		<hr>
		<form name="passwordReset">
			<p>Please choose a new password that is between 8 and 20 characters long.</p>
			<p class="bold">Remember strong passwords are a good thing!</p>
			<div class="register">
				<label class="control-label">Password</label> 
				<input id="password" type="password" name="password" class="playerselect form-control" placeholder="Password" required 
					ng-model="vm.playerpassword" data-ng-class="{'ng-invalid':passwordReset.confirmPassword.$error.match}" pattern=".{8,20}">
			</div>
			<div class="register">				
				<label class="control-label">Repeat Password</label> 
				<input id="password" type="password" name="confirmPassword" class="playerselect form-control" placeholder="Repeat password" required ng-model="vm.checkpassword" match="vm.playerpassword">
			</div>
			<div class="register" style="padding-top: 10px">
				<button class="button" ng-disabled="vm.playerpassword == '' || passwordReset.confirmPassword.$error.match || passwordReset.password.$error.pattern" type="submit" ng-click="vm.reset()">Reset password</button>
			</div>
		</form>
	</div>
</div>