<ng-include src="'./views/partials/nav.html'"></ng-include>
	<div class="alert alert-info"><span class="glyphicon glyphicon-wrench"></span> BETA: The password recovery page has not been worked on yet</div>
<div id="main" class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
			<ng-include src="'./views/partials/logo.html'"></ng-include>
		</div>
	</div>
	<div class="login col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
		<h2>Password Recovery</h2>
		<strong class="dangerzone">{{vm.status}}</strong>
		<form name="passwordrecover">
			<div class="register">
				<p>So you forgot your password? No problem! Just fill in the email address you used to register here and we will mail you instructions on how to reset your password.</p>
				<label class="control-label">Email</label> 
				<input id="email" type="email" class="playerselect form-control" placeholder="Your email address" required ng-model="vm.playeremail">
			</div>
			<div class="register" style="padding-top: 10px">
				<button class="button" ng-disabled="!vm.playeremail" type="submit" ng-click="vm.recover()">Send reset email</button>
			</div>
		</form>
	</div>
</div>