<ng-include src="'./views/partials/nav.html'"></ng-include>
<div id="main" class="container">
	<div class="row scenario">
		<h1><span class="fa fa-users"></span> Players</h1>
		<p>You can search for player's profiles here. You can look into their campaign progression, characters (if they have it set to public) and report for them (if they have that set to public).</p>
		
		<div class="playersearch-container form-inline">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 input-group playersearch form-group">
				<input id="playerselect" class="playerselect form-control" ng-model="vm.playerselect" uib-typeahead="person for person in vm.getPeople($viewValue)" typeahead-min-length="2" 
					ng-model-options="{debounce: 200}" typeahead-template-url="playersearchTemplate.html" typeahead-input-formatter="vm.formatPlayersearch($model)" placeholder="Select by username or pfsnumber"
					typeahead-on-select="vm.selectPlayer()">			
				<i class="glyphicon glyphicon-search form-control-feedback" style="color: grey;"></i>				
			</div>
			<div class="form-group hidden-xs"  ng-show="main.$storage.user && vm.player.id !== main.$storage.user.id && 1 != 1">
				or <button class="button" ng-click="vm.selectYourself()">Select yourself</button>
			</div>
		</div>
	</div>
</div>
<div class="container" ng-show="vm.$stateParams.pfsNumber">
	<div class="row" ng-hide="vm.player">
		<h1 class="text-center">Loading player profile...</h1>
	</div>
	<div class="scenario" ng-show="vm.player">
		<div ng-show="vm.player">
			<h1>
				<img ng-src="images/flags/{{vm.player.country}}.svg" style="height: 40px;"> {{vm.player.name}} <span>({{vm.player.pfsnumber}})</span>
				<button ng-show="vm.player.public" class="button pull-right" ui-sref="report({pfsNumber: vm.player.pfsnumber})">Report for {{vm.player.name}}</button>
			</h1>
			<div style="clear: both;"></div>
		</div>
		<hr>
		<div class="row" ng-show="vm.player">
			<div class="col-lg-9">
				<h2>Totals</h2>
				<div class="profile-totals col-xs-12">	
					<div class="col-xs-3 text-center">
						<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.pfs || '?'}}</span><br>
						<span>Scenarios played (PFS)</span>
					</div>
					<div class="col-xs-3 text-center">
						<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.pfs_gm || '?'}}</span><br>
						<span>Scenarios GMed (PFS)</span>
					</div>
					<div class="col-xs-3 text-center">
						<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.core || '?'}}</span><br>
						<span>Scenarios played (CORE)</span>
					</div>
					<div class="col-xs-3 text-center">
						<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.core_gm || '?'}}</span><br>
						<span>Scenarios GMed (CORE)</span>
					</div>
				</div>
				<div style="clear: both"></div>
				<hr>
				<div>
					<h2>Progression</h2>
					<uib-tabset active="active">
						<uib-tab index="0" heading="PFS campaign">
							<div ng-repeat="content in vm.player.progression">
								<table class="col-xs-12">
									<tr>
										<td rowspan=2 style="width: 75px;"><span style="font-weight: bold">{{content.name}}</span></td>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right; width: 25px;">PC</td>
										<td>
											<uib-progressbar max="content.total" value="content.pfs" title="{{content.name}} progress" class="progressbar-pfstracker" style="margin-bottom: 0px; border-width: 1px; border-bottom: 1px solid #D48E87; border-radius: 5px 5px 0 0; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.pfs}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
									<tr>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right;">GM</td>
										<td>
											<uib-progressbar max="content.total" value="content.pfs_gm" title="{{content.name}} progress" class="progressbar-pfstracker" style="margin-top: 0px; border-top: 0px; border-radius: 0 0 5px 5px; margin-bottom: 3px; border-width: 1px; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.pfs_gm}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
								</table>
							</div>
							<div style="clear: both"></div>
						</uib-tab>
						<uib-tab index="1" heading="CORE campaign">
							<div ng-repeat="content in vm.player.progression">
								<table class="col-xs-12">
									<tr>
										<td rowspan=2 style="width: 75px;"><span style="font-weight: bold">{{content.name}}</span></td>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right; width: 25px;">PC</td>
										<td>
											<uib-progressbar max="content.total" value="content.core" title="{{content.name}} progress" class="progressbar-pfstracker" style="margin-bottom: 0px; border-width: 1px; border-bottom: 1px solid #D48E87; border-radius: 5px 5px 0 0; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.core}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
									<tr>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right;">GM</td>
										<td>
											<uib-progressbar max="content.total" value="content.core_gm" title="{{content.name}} progress" class="progressbar-pfstracker" style="margin-top: 0px; border-top: 0px; border-radius: 0 0 5px 5px; margin-bottom: 3px; border-width: 1px; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.core_gm}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
								</table>
							</div>
							<div style="clear: both"></div>
						</uib-tab>
					</uib-tabset>
					
				</div>
				<div style="clear: both"></div>
				<hr>
			</div>
			
			<div class="col-lg-3">
				<div>
					<h2>Characters</h2>
					<div class="profile-characterlist" ng-repeat="character in vm.player.characters" style="background-image: url('images/factions/{{character.faction}}.png')">
						<div><strong>{{character.name}}</strong> <small>({{vm.player.pfsnumber}}-{{character.number}})</small></div>
						<div><small>{{character.class}} ({{character.level}}) - {{character.campaign}}</small></div>
					</div>
					<div class="text-center" ng-show="!vm.player.characters">
						<i class="fa fa-question-circle-o" style="font-size: 800%; color: #996C6C" aria-hidden="true"></i>
						<br>
						<span>No (public) characters</span>
					</div>
				</div>
				<div style="clear: both"></div>
				<hr>
			</div>
		</div>
	</div>
</div>