<ng-include src="'./views/partials/nav.html'"></ng-include>
<div id="main" class="container">
	<div class="row scenario">
		<h1><span class="fa fa-users"></span> Players</h1>
		<hr>
		<p>You can search for player's profiles here. You can look into their campaign progression, characters (if they have it set to public) and report for them (if they have that set to public).</p>
		
		<div class="playersearch-container form-inline">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 input-group playersearch form-group">
				<input id="playerselect" class="playerselect form-control" ng-model="vm.playerselect" uib-typeahead="person for person in vm.getPeople($viewValue)" typeahead-min-length="2" 
					ng-model-options="{debounce: 200}" typeahead-template-url="playersearchTemplate.html" typeahead-input-formatter="vm.formatPlayersearch($model)" placeholder="Select by username or pfsnumber"
					typeahead-on-select="vm.selectPlayer()">			
				<i class="glyphicon glyphicon-search form-control-feedback" style="color: grey;"></i>				
			</div>
		</div>
	</div>
</div>
<div class="container" ng-show="vm.$stateParams.pfsNumber">
	<div class="row" ng-hide="vm.player">
		<h1 class="text-center">Loading ...</h1>
	</div>
	<div class="scenario" ng-show="vm.player">
		<div ng-show="vm.player">
			<h1>
				<img ng-src="./images/flags/{{vm.player.country | lowercase}}.svg" ng-if="vm.player.country" style="height: 40px;"> {{vm.player.name}} <span>({{vm.player.pfsnumber}})</span>
				<button ng-show="!vm.report" class="button pull-right" ui-sref="players({pfsNumber: vm.player.pfsnumber, report: 'report'})"><i class="fa fa-check-square-o"></i> To progression and reporting</button>
				<button ng-show="vm.report" class="button pull-right" ui-sref="players({pfsNumber: vm.player.pfsnumber, report: null})"><i class="fa fa-user"></i> To profile</button>
			</h1>
			<div style="clear: both;"></div>
		</div>
		<hr>
		<!-- Reporting -->
		<div class="row" ng-show="vm.player && vm.report">
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="reportcategories">
					<h2 class="hidden-xs text-center" ng-controller="HelpController as help">Categories
						<span class="glyphicon glyphicon-question-sign help" ng-click="help.open('report');"></span>
						<ng-include src="'./views/partials/help_report.html'"></ng-include>							
					</h2>
					<h4 class="text-center hidden-xs">PFS</h4>
					<div class="hidden-xs" ng-hide="vm.player == null">
						<button class="button col-sm-12" ng-repeat="reportoption in vm.reportoptions" ng-click="vm.changeReportType(reportoption, 'pfs')">{{reportoption.name}}</button>
					</div>
					<div style="clear: both"></div>
					<h4 class="text-center hidden-xs">SFS</h4>
					<div class="hidden-xs" ng-hide="vm.player == null">
						<button class="button col-sm-12 sfs" ng-repeat="reportoption in vm.reportoptions_sfs" ng-click="vm.changeReportType(reportoption, 'sfs')">{{reportoption.name}}</button>
					</div>
				</div>
				<div class="hidden-sm hidden-md hidden-lg" ng-hide="vm.player === null">			
					<h2 class="hidden-xs text-center">Select category</h2>
					<h2 class="hidden-sm hidden-md hidden-lg text-center" ng-controller="HelpController as help">Select category 
						<span class="glyphicon glyphicon-question-sign help" ng-click="help.open('report');"></span>
						<ng-include src="'./views/partials/help_report.html'"></ng-include></h2>
					PFS: <select class="form-control" ng-model="vm.reporttype" ng-options="reportoption.name for reportoption in vm.reportoptions" ng-change="vm.getContent()"></select>
					SFS: <select class="form-control" ng-model="vm.reporttype" ng-options="reportoption.name for reportoption in vm.reportoptions_sfs" ng-change="vm.getContent()"></select>
					<hr>				
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<h3 ng-show="vm.player.public == 0 && vm.player.pfsnumber != main.$storage.user.pfsnumber" class="reportingfor">{{vm.reporttype.name}} detailed progression</h3>
				<div ng-show="vm.player.public == 0 && vm.player.pfsnumber != main.$storage.user.pfsnumber">You cannot report for <strong>{{vm.player.name}}</strong> because he/she has not allowed public reporting in his/her profile.</div>		
				
				<h3 ng-show="vm.player.public == 1 || vm.player.pfsnumber == main.$storage.user.pfsnumber" class="hidden-xs reportingfor">{{vm.reporttype.name}} reporting</h3>
				<h3 ng-show="vm.player.public == 1 || vm.player.pfsnumber == main.$storage.user.pfsnumber" class="hidden-sm hidden-md hidden-lg reportingfor text-center">{{vm.reporttype.name}} reporting</h3>
				<div ng-show="vm.player.public == 1 && vm.player.pfsnumber != main.$storage.user.pfsnumber">You can report for <strong>{{vm.player.name}}</strong> because he/she has chosen to allow public reporting in his/her profile.</div>
				<div ng-show="vm.player.pfsnumber == main.$storage.user.pfsnumber">You are reporting for yourself.</div>
				<hr>
				<p ng-show="vm.content.length < 1">This category does not have any content yet.</p>
				<div class="col-sm-12" ng-hide="vm.atOverview">
					<div class="row vertical-container" ng-if="vm.content[0].game == 'pfs'">
						<span class="vertical pfs">PFS PC</span>
						<span class="vertical core">CORE PC</span>&nbsp;&nbsp;&nbsp;
						<span class="vertical pfsgm">PFS GM</span>&nbsp;&nbsp;
						<span class="vertical coregm">CORE GM</span>
					</div>
					<div class="row vertical-container" ng-if="vm.content[0].game == 'sfs'">
						<span class="vertical sfs">SFS PC</span>
						<span class="vertical sfsgm">SFS GM</span>&nbsp;&nbsp;&nbsp;
					</div>
				</div>
				<div style="clear: both;"></div>
				<ul class="reporting-list" ng-if="vm.content[0].game == 'pfs'">
					<li ng-repeat="content in vm.content track by $index" class="reportoption" ng-class="{'disabled-checkbox': vm.player.public == 0 && vm.player.pfsnumber != main.$storage.user.pfsnumber}">
						<span>
							<input id="pfs{{content.id}}" ng-model="content.players[0].played.pfs" type="checkbox" ng-click="vm.saveScenario(content.id, 'pfs', $index)" ng-disabled="vm.player.public == 0 && vm.player.pfsnumber != main.$storage.user.pfsnumber"><label class="report-title disabled-checkbox" for="pfs{{content.id}}"></label>
							<input id="core{{content.id}}" ng-model="content.players[0].played.core" type="checkbox" ng-click="vm.saveScenario(content.id, 'core', $index)" ng-disabled="vm.player.public == 0 && vm.player.pfsnumber != main.$storage.user.pfsnumber"><label class="report-title" for="core{{content.id}}"></label>
							<input id="pfs_gm{{content.id}}" ng-model="content.players[0].played.pfs_gm" type="checkbox" ng-click="vm.saveScenario(content.id, 'pfs_gm', $index)" ng-disabled="vm.player.public == 0 && vm.player.pfsnumber != main.$storage.user.pfsnumber"><label class="report-title" for="pfs_gm{{content.id}}"></label>
							<input id="core_gm{{content.id}}" ng-model="content.players[0].played.core_gm" type="checkbox" ng-click="vm.saveScenario(content.id, 'core_gm', $index)" ng-disabled="vm.player.public == 0 && vm.player.pfsnumber != main.$storage.user.pfsnumber"><label class="report-title" for="core_gm{{content.id}}"></label>
						</span>
						<span class="hidden-sm hidden-md hidden-lg report-title-xs">
							<span ng-hide="!content.season || content.season == '99'">#{{content.season}}-{{content.number}}</span> 
							<span>{{content.name}}</span>
						</span>
						<span class="hidden-xs report-title">
							<span ng-hide="!content.season || content.season == '99'">#{{content.season}}-{{content.number}}</span>
							<span>{{content.name}}</span>
						</span>
						<span ng-show="content.archived_at"> 
							<strong>(Retired)</strong>
						</span>	
					</li>
				</ul>
				<ul class="reporting-list sfs" ng-if="vm.content[0].game == 'sfs'">
					<li ng-repeat="content in vm.content track by $index" class="reportoption" ng-class="{'disabled-checkbox': vm.player.public == 0 && vm.player.pfsnumber != main.$storage.user.pfsnumber}">
							<span>
								<input id="sfs{{content.id}}" class="sfs" ng-model="content.players[0].played.sfs" type="checkbox" ng-click="vm.saveScenario(content.id, 'sfs', $index)" ng-disabled="vm.player.public == 0 && vm.player.pfsnumber != main.$storage.user.pfsnumber"><label class="report-title disabled-checkbox" for="sfs{{content.id}}"></label>
								<input id="sfs_gm{{content.id}}" class="sfs" ng-model="content.players[0].played.sfs_gm" type="checkbox" ng-click="vm.saveScenario(content.id, 'sfs_gm', $index)" ng-disabled="vm.player.public == 0 && vm.player.pfsnumber != main.$storage.user.pfsnumber"><label class="report-title" for="sfs_gm{{content.id}}"></label>
							</span>
							<span class="hidden-sm hidden-md hidden-lg report-title-xs">
								<span ng-hide="!content.season || content.season == '99'">#{{content.season}}-{{content.number}}</span> 
								<span>{{content.name}}</span>
							</span>
							<span class="hidden-xs report-title">
								<span ng-hide="!content.season || content.season == '99'">#{{content.season}}-{{content.number}}</span>
								<span>{{content.name}}</span>
							</span>
							<span ng-show="content.archived_at"> 
								<strong>(Retired)</strong>
							</span>	
						</li>
				</ul>
				<!-- Batch options -->
				<div ng-hide="vm.player.public == 0 && vm.player.pfsnumber != main.$storage.user.pfsnumber || vm.content.length < 1">
					<h3>Batch options</h3>
					<form class="form-inline">
						<div class="form-group">
							<select ng-model="vm.option.check" class="form-control" ng-if="vm.content[0].game == 'pfs'">
								<option></option>
								<option value="pfs">PFS PC</option>
								<option value="pfs_gm">PFS GM</option>
								<option value="core">CORE PC</option>
								<option value="core_gm">CORE GM</option>
							</select>
							<select ng-model="vm.option.check" class="form-control" ng-if="vm.content[0].game == 'sfs'">
								<option></option>
								<option value="sfs">SFS PC</option>
								<option value="sfs_gm">SFS GM</option>
							</select>
						</div>
						<span>
							<button class="button" ng-class="{'sfs': vm.content[0].game == 'sfs' && vm.option.check}" ng-disabled="!vm.option.check" ng-click="vm.checkAll()">Check</button> / <button ng-class="{'sfs': vm.content[0].game == 'sfs' && vm.option.check}" ng-disabled="!vm.option.check" class="button" ng-click="vm.uncheckAll()">Uncheck</button> all
						</span>		
					</form>							
				</div>
			</div>
		</div>
		
		<!-- Profile -->
		<div class="row" ng-show="vm.player && !vm.report">
			<div class="col-lg-9">
				<h2>Totals</h2>
				<div class="profile-totals col-xs-12">
					<div class="col-xs-4 text-center">
						<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.pfs || '0'}}</span><br>
						<span>Scenarios played (PFS)</span>
					</div>
					<div class="col-xs-4 text-center">
						<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.pfs_gm || '0'}}</span><br>
						<span>Scenarios GMed (PFS)</span>
					</div>
					<div class="col-xs-4 text-center">
						<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.core || '0'}}</span><br>
						<span>Scenarios played (CORE)</span>
					</div>
				</div>
				<div class="profile-totals col-xs-12">
					<div class="col-xs-4 text-center">
						<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.core_gm || '0'}}</span><br>
						<span>Scenarios GMed (CORE)</span>
					</div>	
					<div class="col-xs-4 text-center">
						<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.sfs || '0'}}</span><br>
						<span>Scenarios played (SFS)</span>
					</div>
					<div class="col-xs-4 text-center">
						<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.sfs_gm || '0'}}</span><br>
						<span>Scenarios GMed (SFS)</span>
					</div>
				</div>
				<div style="clear: both"></div>
				<hr>
				<div>
					<h2>Progression</h2>
					<uib-tabset active="active">
						<uib-tab index="0" heading="PFS campaign">
							<div ng-repeat="content in vm.player.progression">
								<table class="col-xs-12">
									<tr>
										<td rowspan=2 style="width: 75px;"><span style="font-weight: bold">{{content.name}}</span></td>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right; width: 25px;">PC</td>
										<td>
											<uib-progressbar max="content.total" value="content.pfs" title="{{content.name}} progress" class="progressbar-pfstracker" style="margin-bottom: 0px; border-width: 1px; border-bottom: 1px solid #D48E87; border-radius: 5px 5px 0 0; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.pfs}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
									<tr>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right;">GM</td>
										<td>
											<uib-progressbar max="content.total" value="content.pfs_gm" title="{{content.name}} progress" class="progressbar-pfstracker" style="margin-top: 0px; border-top: 0px; border-radius: 0 0 5px 5px; margin-bottom: 3px; border-width: 1px; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.pfs_gm}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
								</table>
							</div>
							<div style="clear: both"></div>
						</uib-tab>
						<uib-tab index="1" heading="CORE campaign">
							<div ng-repeat="content in vm.player.progression">
								<table class="col-xs-12">
									<tr>
										<td rowspan=2 style="width: 75px;"><span style="font-weight: bold">{{content.name}}</span></td>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right; width: 25px;">PC</td>
										<td>
											<uib-progressbar max="content.total" value="content.core" title="{{content.name}} progress" class="progressbar-pfstracker" style="margin-bottom: 0px; border-width: 1px; border-bottom: 1px solid #D48E87; border-radius: 5px 5px 0 0; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.core}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
									<tr>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right;">GM</td>
										<td>
											<uib-progressbar max="content.total" value="content.core_gm" title="{{content.name}} progress" class="progressbar-pfstracker" style="margin-top: 0px; border-top: 0px; border-radius: 0 0 5px 5px; margin-bottom: 3px; border-width: 1px; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.core_gm}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
								</table>
							</div>
							<div style="clear: both"></div>
						</uib-tab>
						<uib-tab index="2" heading="SFS campaign">
							<div ng-repeat="content in vm.player.progression_sfs">
								<table class="col-xs-12">
									<tr>
										<td rowspan=2 style="width: 75px;"><span style="font-weight: bold">{{content.name}}</span></td>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right; width: 25px;">PC</td>
										<td>
											<uib-progressbar max="content.total" value="content.sfs" title="{{content.name}} progress" class="progressbar-pfstracker sfs" style="margin-bottom: 0px; border-width: 1px; border-bottom: 1px solid #8790d3; border-radius: 5px 5px 0 0; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.sfs}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
									<tr>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right;">GM</td>
										<td>
											<uib-progressbar max="content.total" value="content.sfs_gm" title="{{content.name}} progress" class="progressbar-pfstracker sfs" style="margin-top: 0px; border-top: 0px; border-radius: 0 0 5px 5px; margin-bottom: 3px; border-width: 1px; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.sfs_gm}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
								</table>
							</div>
							<div style="clear: both"></div>
						</uib-tab>
					</uib-tabset>
					
				</div>
				<div style="clear: both"></div>
				<hr>
			</div>
			
			<div class="col-lg-3">
				<div>
					<h2>Characters</h2>
					<div class="profile-characterlist" ng-repeat="character in vm.player.characters" style="background-image: url('images/factions/{{character.faction}}.png')">
						<div><strong>{{character.name}}</strong> <small>({{vm.player.pfsnumber}}-{{character.number}})</small></div>
						<div><small>{{character.class}} ({{character.level}}) - {{character.campaign}}</small></div>
					</div>
					<div class="text-center" ng-show="!vm.player.characters">
						<i class="fa fa-question-circle-o" style="font-size: 800%; color: #996C6C" aria-hidden="true"></i>
						<br>
						<span>No (public) characters</span>
					</div>
				</div>
				<div style="clear: both"></div>
				<hr>
			</div>
		</div>
	</div>
</div>