<ng-include src="'./views/partials/nav.html'"></ng-include>
<div id="main" class="container">
	<div class="row scenario">
		<h1><i class="fa fa-lock fa-fw"></i> Privacy Policy</h1>
		<hr>
		<p>I want to be transparent about your privacy when using the PFStracker. Since you ended up on this page, that means you must be at least a little bit interested about your own privacy.</p>
		
		<p>So what does the PFStracker do that could relate to your privacy?</p>
		<ul>
			<li>I store your email address that you use for logging in, but also for recovering your password if you ever lose it. I will <span class="bold">not</span> email you about updates, marketing and the likes. All you will ever get from PFStracker is automated recovery emails.</li>
			<li>The following information is public in the PFStracker, anyone can search for these:
				<ul>
					<li>PFS-number</li>
					<li>Displayname</li>
					<li>Your played history</li>
					<li>Your characters (only if you turn 'public characters' on in your settings)</li>
				</ul>
			</li>
			<li>I do not know the password you use for PFStracker. The passwords are stored in the database as a hash, a one way process. For techies: I use a salt for each account and use a form of bcrypt. The <a href="https://github.com/saekort/PFS-Scenariotracker" target="_blank">PFStracker code</a> is available on github.</li>
			<li>I run no Google Analytics or other ways to track you. There are no third party tracking cookies used on this site, only cookies to ensure the site works as intended. <span class="bold">You will not be tracked.</span></li>
			<li>I host the PFStracker in Amsterdam, the Netherlands. I run my own server, the hosting party cannot login to my server.</li>
			<li>Due to being hosted in Amsterdam I am subject to european law and try to adhere to all the legislation as written down in the <a href="https://en.wikipedia.org/wiki/General_Data_Protection_Regulation" target="_blank">General Data Protection Regulation (GDPR)</a>.</li>
			<li>Traffic in transit is encrypted between your browser and the server.</li>
		</ul>
	</div>
</div>