<ng-include src="'./views/partials/nav.html'"></ng-include>
<div id="main" class="container">
	<!-- <div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
			<ng-include src="'./views/partials/logo.html'"></ng-include>
		</div>
	</div> -->
	<div class="row scenario">
		<h1><i class="fa fa-user-plus fa-fw"></i> Register</h1>
		<hr>
		<p>To start reporting your own progress, please register using the form below</p>
		<form class="form-horizontal" name="myForm">
			<div class="register">
				<label class="control-label">Email</label> 
				<input id="email" type="email" class="playerselect form-control" placeholder="Email" required ng-model="vm.playeremail">
			</div>
			<div class="register">
				<label class="control-label">Repeat Email</label> 
				<input id="email" type="email" name="confirmEmail" class="playerselect form-control" placeholder="Repeat Email" required ng-model="vm.checkemail" match="vm.playeremail">
			</div>
			<div class="red" data-ng-show="myForm.confirmEmail.$error.match">Emails do not match!</div>
			<div class="register">
				<label class="control-label">Password</label> 
				<input id="password" type="password" name="password" class="playerselect form-control" placeholder="Password" required 
					ng-model="vm.playerpassword" data-ng-class="{'ng-invalid':myForm.confirmPassword.$error.match}" pattern=".{8,20}">
			</div>
			<div class="register">				
				<label class="control-label">Repeat Password</label> 
				<input id="password" type="password" name="confirmPassword" class="playerselect form-control" placeholder="Repeat password" required ng-model="vm.checkpassword" match="vm.playerpassword">
			</div>
			<div class="red" data-ng-show="myForm.confirmPassword.$error.match">Passwords do not match!</div>
			<div class="red" ng-show="myForm.password.$error.pattern">Password should be between 8 and 20 characters</div>
			<div class="register">							
				<label class="control-label">Username</label>
 				<p>Your username does not need to be unique, use the name that your fellow pathfinders know you by. If you have a <a href="http://www.warhorn.net" target="_blank">Warhorn</a> account, we reccomend using the same name.</p>
				<input id="playername" name="playername" class="playerselect form-control" placeholder="Add your name here" required  ng-model="vm.playername">
			</div>
			<div class="register">				
				<label class="control-label">PFS number</label>
				<input id="playernumber" name="playernumber" class="playerselect form-control" ng-change="vm.checkPfsnumber()" placeholder="PFS number" required ng-model="vm.pfsnumber" autocomplete="off">
				<span class="red" ng-show="vm.invalidpfsnumber">PFS number is already registered, use a different one</span>				
			</div>
			<div class="checkbox">
				<input id="scenarios" type="checkbox" ng-model="vm.othersmayreport" value="">
				<label class="report-title" for="scenarios"></label>
				<b>Others may report for me</b>
			</div>
			<p>If you check this box, other people (for example your GM) may report the scenarios that you have played.</p>
			<div class="register">				
				<button class="button" ng-disabled="myForm.confirmEmail.$error.match || myForm.confirmPassword.$error.match || myForm.password.$error.pattern || vm.invalidpfsnumber || myForm.email.$error.required || myForm.password.$error.required || myForm.playername.$error.required || myForm.playernumber.$error.required" ng-click="vm.savePlayer()">Register</button>
			</div>
		</form>			
	</div>
</div>