<ng-include src="'./views/partials/nav.html'"></ng-include>
<div id="main" class="container">
	<div class="row">
		<span class="spinner" us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
			<ng-include src="'./views/partials/logo.html'"></ng-include>
						<div class="alert alert-info"><span class="glyphicon glyphicon-wrench"></span> BETA: Statistics are still a little buggy</div>
			<div class="text-center">
				<h2>Statistics</h2>
				<span>( Last updated on: <i>{{vm.lastupdated | date: "dd MMMM yyyy '-' HH:mm Z"}} )</i></span>
			</div>
		</div>
	</div>
	<div class="scenario">
		<p><strong>Some simple statistics</strong></p>
		<p>Did you know <strong>{{vm.statistics.totals.players.comment}}</strong> players have registered? Those players come from <strong>{{vm.statistics.totals.countries.comment}}</strong> countries, have reported <strong>{{vm.statistics.totals.sessions.comment}}</strong> sessions and have created <strong>{{vm.statistics.totals.characters.comment}}</strong> characters.</p>
		<p><i>Check out some more specific statistics below!</i></p>	
	</div>
	<div class="row statistic-container">	
		<div class="statistic col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<strong>Most complete PFS players</strong>
			<ol>
				<li ng-repeat="stat in vm.statistics.player_complete_pfs"><img ng-if="stat.person.country != NULL" ng-src="./images/flags/{{stat.person.country | lowercase}}.svg" style="height: 15px; padding-bottom: 2px;"> {{stat.person.name}} - {{stat.person.pfsnumber}} <i>({{stat.comment}})</i></li>
			</ol>			
		</div>
		<div class="statistic col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<strong>Most complete PFS GMs</strong>
			<ol>
				<li ng-repeat="stat in vm.statistics.gm_complete_pfs"><img ng-if="stat.person.country != NULL" ng-src="./images/flags/{{stat.person.country | lowercase}}.svg" style="height: 15px; padding-bottom: 2px;"> {{stat.person.name}} - {{stat.person.pfsnumber}} <i>({{stat.comment}})</i></li>
			</ol>			
		</div>			
		<div class="statistic col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<strong>Most complete CORE players</strong>
			<ol>
				<li ng-repeat="stat in vm.statistics.player_complete_core"><img ng-if="stat.person.country != NULL" ng-src="./images/flags/{{stat.person.country | lowercase}}.svg" style="height: 15px; padding-bottom: 2px;"> {{stat.person.name}} - {{stat.person.pfsnumber}} <i>({{stat.comment}})</i></li>
			</ol>			
		</div>		
		<div class="statistic col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<strong>Most complete CORE GMs</strong>
			<ol>
				<li ng-repeat="stat in vm.statistics.gm_complete_core"><img ng-if="stat.person.country != NULL" ng-src="./images/flags/{{stat.person.country | lowercase}}.svg" style="height: 15px; padding-bottom: 2px;"> {{stat.person.name}} - {{stat.person.pfsnumber}} <i>({{stat.comment}})</i></li>
			</ol>			
		</div>		
	</div>
	<div class="row statistic-container">
		<div class="statistic col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<strong>Most played</strong>
			<ol>
				<li ng-repeat="stat in vm.statistics.played_most">{{stat.scenario.name}} <i>({{stat.comment}} times)</i></li>
			</ol>
		</div>
		<div class="statistic col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<strong>Favorite evergreens</strong>
			<ol>
				<li ng-repeat="stat in vm.statistics.evergreen">{{stat.scenario.name}} <i>({{stat.comment}} times)</i></li>
			</ol>			
		</div>
	</div>	
</div>