<ng-include src="'./views/partials/nav.html'"></ng-include>
<div id="main" class="container-fluid">
<div class="col-md-12">
</div>
	<div class="col-md-12">
		<div class="row">
			<p class="col-md-12"><button class="button pull-right"><span class="glyphicon glyphicon-plus"></span> Table</button></p>
		</div>
	</div>
	<br>
	<div class="col-md-12">		
		<div class="row">
			<div class="col-md-4" ng-repeat="table in vm.tables">
				<ol class="table-container"
						dnd-list="vm.players"
						dnd-disable-if="vm.players.length >= 6">
					<li class="table-header"><span class="pull-left">{{table.number}}</span>
						<span ng-if="!table.scenario.type">Loading</span>
						<span ng-if="table.scenario.type == 'scenario'">{{table.scenario.season || '??'}}-{{table.scenario.number || '??'}}: {{table.scenario.name}} ({{table.levelrange}})</span>
						<span ng-if="table.scenario.type == 'ap'">{{table.scenario.name}} ({{table.levelrange}})</span>
						<span ng-if="table.scenario.type == 'quest'">{{table.scenario.season || '??'}}: {{table.scenario.name}} ({{table.levelrange}})</span>
						<span ng-if="table.scenario.type == 'mod'">{{table.scenario.name}} ({{table.levelrange}})</span>
						<span class="pull-right"><span class="glyphicon glyphicon-pencil clickable"></span></span>
					</li>
					<li class="draggable gm" model="vm.gm">GM: {{table.gm.name}}</li>
					<li class="table-header">(APL: {{vm.apl1}})</li>
					<li class="draggable"
						ng-repeat="player in table.players" 
						dnd-draggable="player"
						dnd-moved="vm.players.splice($index, 1)"
						dnd-effect-allowed="move"
						dnd-selected="vm.selected = player">
						<table>
							<tr>
								<td>{{player.name}}</td>
								<td>{{player.pfsnumber}}</td>
								<td>{{player.char}}</td>
								<td>{{player.descr}}</td>
							</tr>
						</table>
					</li>			
				</ol>
			</div>
		</div>
	</div>
</div>