<ng-include src="'./views/partials/nav.html'"></ng-include>
<div id="main" class="container">
	<div class="row content">
		<h1><span class="fa fa-users"></span> Players</h1>
		<hr>
		<p>You can search for player's profiles here. You can look into their campaign progression, characters (if they have it set to public) and report for them (if they have that set to public).</p>
		
		<div class="playersearch-container form-inline">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 input-group playersearch form-group">
				<input id="playerselect" class="playerselect form-control" ng-model="vm.playerselect" uib-typeahead="person for person in vm.getPeople($viewValue)" typeahead-min-length="2" 
					ng-model-options="{debounce: 200}" typeahead-template-url="playersearchTemplate.html" typeahead-input-formatter="vm.formatPlayersearch($model)" placeholder="Select by username or pfsnumber"
					typeahead-on-select="vm.selectPlayer()">			
				<i class="glyphicon glyphicon-search form-control-feedback" style="color: grey;"></i>				
			</div>
		</div>
	</div>
</div>
<div class="container" ng-show="vm.$stateParams.pfsNumber">
	<div class="row" ng-hide="vm.player">
		<h1 class="text-center">Loading ...</h1>
	</div>
	<div class="content" ng-show="vm.player">
		<div ng-show="vm.player">
			<h1>
				<img ng-src="./images/flags/{{vm.player.country | lowercase}}.svg" ng-if="vm.player.country" style="height: 40px;"> {{vm.player.name}} <span>({{vm.player.pfsnumber}})</span>
				<button ng-show="!vm.report" class="pull-right" ui-sref="players({pfsNumber: vm.player.pfsnumber, report: 'report'})"><i class="fa fa-check-square-o"></i> To progression and reporting</button>
				<button ng-show="vm.report" class="pull-right" ui-sref="players({pfsNumber: vm.player.pfsnumber, report: null})"><i class="fa fa-user"></i> To profile</button>
			</h1>
			<div style="clear: both;"></div>
		</div>
		<hr>
		<!-- Reporting -->
		<div class="row" ng-show="vm.player && vm.report">
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="reportcategories">
					<h2 class="hidden-xs text-center" ng-controller="HelpController as help">Categories
						<span class="glyphicon glyphicon-question-sign help" ng-click="help.open('report');"></span>
						<ng-include src="'./views/partials/help_report.html'"></ng-include>							
					</h2>
					<h4 class="text-center hidden-xs">PFS 2.0</h4>
					<div class="hidden-xs" ng-hide="vm.player == null">
						<button class="button col-sm-12 pfs2" ng-repeat="reportoption in vm.reportoptions_pfs2" ng-click="vm.changeReportType(reportoption, 'pfs2')">{{reportoption.name}}</button>
					</div>
					<div style="clear: both"></div>
					<h4 class="text-center hidden-xs">PFS</h4>
					<div class="hidden-xs" ng-hide="vm.player == null">
						<button class="col-sm-12 pfs" ng-repeat="reportoption in vm.reportoptions" ng-click="vm.changeReportType(reportoption, 'pfs')">{{reportoption.name}}</button>
					</div>
					<div style="clear: both"></div>
					<h4 class="text-center hidden-xs">SFS</h4>
					<div class="hidden-xs" ng-hide="vm.player == null">
						<button class="button col-sm-12 sfs" ng-repeat="reportoption in vm.reportoptions_sfs" ng-click="vm.changeReportType(reportoption, 'sfs')">{{reportoption.name}}</button>
					</div>
					<div style="clear: both"></div>
					<h4 class="text-center hidden-xs">PACG</h4>
					<div class="hidden-xs" ng-hide="vm.player == null">
						<button class="button col-sm-12 pacg" ng-repeat="reportoption in vm.reportoptions_sfs" ng-click="vm.changeReportType(reportoption, 'sfs')">{{reportoption.name}}</button>
					</div>
				</div>
				<div class="hidden-sm hidden-md hidden-lg" ng-hide="vm.player === null">			
					<h2 class="hidden-xs text-center">Select category</h2>
					<h2 class="hidden-sm hidden-md hidden-lg text-center" ng-controller="HelpController as help">Select category 
						<span class="glyphicon glyphicon-question-sign help" ng-click="help.open('report');"></span>
						<ng-include src="'./views/partials/help_report.html'"></ng-include></h2>
					PFS: <select class="form-control" ng-model="vm.reporttype" ng-options="reportoption.name for reportoption in vm.reportoptions" ng-change="vm.getContent()"></select>
					SFS: <select class="form-control" ng-model="vm.reporttype" ng-options="reportoption.name for reportoption in vm.reportoptions_sfs" ng-change="vm.getContent()"></select>
					<hr>				
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<h3 ng-show="vm.player.public == 0 && vm.player.pfsnumber != main.$storage.user.pfsnumber" class="reportingfor">{{vm.reporttype.name}} detailed progression</h3>
				<div ng-show="vm.player.public == 0 && vm.player.pfsnumber != main.$storage.user.pfsnumber">You cannot report for <strong>{{vm.player.name}}</strong> because he/she has not allowed public reporting in his/her profile.</div>		
				<h3 ng-show="vm.player.public == 1 || vm.player.pfsnumber == main.$storage.user.pfsnumber" class="hidden-xs reportingfor">{{vm.reporttype.name}} reporting</h3>
				<h3 ng-show="vm.player.public == 1 || vm.player.pfsnumber == main.$storage.user.pfsnumber" class="hidden-sm hidden-md hidden-lg reportingfor text-center">{{vm.reporttype.name}} reporting</h3>
				<div ng-show="vm.player.public == 1 && vm.player.pfsnumber != main.$storage.user.pfsnumber">You can report for <strong>{{vm.player.name}}</strong> because he/she has chosen to allow public reporting in his/her profile.</div>
				<div ng-show="vm.player.pfsnumber == main.$storage.user.pfsnumber">You are reporting for yourself.</div>
				<hr>
				<p ng-show="vm.content.length < 1">This category does not have any content yet.</p>
				<ul class="reporting-list">
					<li ng-repeat="content in vm.content track by $index" class="content" ng-class="content.game.shortname">
						<span ng-if='content.type == "mod"' class="glyphicon glyphicon-tower modules question" tooltip="This is a module. It is longer than a scenario, but rewards more experience"></span>
						<span ng-if="content.type == 'scenario'" class="glyphicon glyphicon-file scenario question ng-scope" tooltip="This is a scenario, a 4-5 hour Pathfinder Society experience"></span>
						<span ng-if='content.type == "ap"' class="glyphicon glyphicon-globe aps question" tooltip="This is an adventure path. It is longer than a scenario, but rewards more experience"></span>													
						<span ng-if='content.type == "other"' class="fa fa-fw fa-folder-open question" tooltip="This is content that does not fit in any of the other categories"></span>
						<span class="hidden-sm hidden-md hidden-lg report-title-xs">
							<strong ng-hide="!content.season || content.season == '99'">#{{content.season}}-{{content.number}}</strong> 
							<strong>{{content.name}}</strong>
						</span>
						<span class="hidden-xs report-title">
							<strong ng-hide="!content.season || content.season == '99'">#{{content.season}}-{{content.number}}</strong>
							<strong>{{content.name}}</strong>
						</span>
						<span ng-show="content.archived_on"> 
							(Retired)
						</span>
						
						<button class="report pull-right" ng-hide="vm.player.public == 0 && vm.player.pfsnumber != main.$storage.user.pfsnumber" ng-class="content.game.shortname">+ Report</button>
						<div style="clear: both;">
						<div ng-repeat="report in content.reports track by $index">
							<div ng-if="report.wanted" class="wanted" ng-class="content.game.shortname"><strong>WANTED:</strong> {{report.wanted}}</div>
						</div>
						<div ng-repeat="report in content.reports track by $index">
							<div ng-if="report.wanted==undefined" style="background-color: #eae2d7; margin: 5px; padding: 5px;">
								<span ng-if="report.reporttype_id == 2 || report.reporttype_id == 4" class="glyphicon glyphicon-bookmark"></span>
								<span ng-if="report.reporttype_id == 1 || report.reporttype_id == 3" class="glyphicon glyphicon-user"></span>
								<span ng-if="report.reporttype_id == 3 || report.reporttype_id == 4">(CORE)</span>
								{{report.played_on | date: "d MMM yyyy"}}
								<span ng-if="report.level"> at level {{report.level}}</span>
								<span ng-if="report.character"> with {{report.character.name}} #{{report.character.number}}</span>
								
								<span ng-show="report.replay" style="font-size: 15px;"> 
									<i>[Replayed: {{report.replay}}]</i>
								</span>
								<span class="glyphicon glyphicon-trash red" style="float:right;"></span>
								<div ng-if="report.comment" style="margin-left: 25px; font-size: 15px;"><i>{{report.comment}}</i></div>
							</div>
						</div>
					</li>
				</ul>
				<!-- Batch options -->
				<!-- <div ng-hide="vm.player.public == 0 && vm.player.pfsnumber != main.$storage.user.pfsnumber || vm.content.length < 1">
					<h3>Batch options</h3>
					<form class="form-inline">
						<div class="form-group">
							<select ng-model="vm.option.check" class="form-control" ng-if="vm.content[0].game == 'pfs'">
								<option></option>
								<option value="pfs">PFS PC</option>
								<option value="pfs_gm">PFS GM</option>
								<option value="core">CORE PC</option>
								<option value="core_gm">CORE GM</option>
							</select>
							<select ng-model="vm.option.check" class="form-control" ng-if="vm.content[0].game == 'sfs'">
								<option></option>
								<option value="sfs">SFS PC</option>
								<option value="sfs_gm">SFS GM</option>
							</select>
						</div>
						<span>
							<button class="button" ng-class="{'sfs': vm.content[0].game == 'sfs' && vm.option.check}" ng-disabled="!vm.option.check" ng-click="vm.checkAll()">Check</button> / <button ng-class="{'sfs': vm.content[0].game == 'sfs' && vm.option.check}" ng-disabled="!vm.option.check" class="button" ng-click="vm.uncheckAll()">Uncheck</button> all
						</span>		
					</form>							
				</div> -->
			</div>
		</div>
		
		<!-- Profile -->
		<div class="row" ng-show="vm.player && !vm.report">
			<div class="col-lg-9">
				<h2>Totals</h2>
				<div class="profile-totals col-xs-12">
					<div class="col-xs-12 text-center content pfs">
						<div class="col-xs-3">
							<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.pfs || '0'}}</span><br>
							<span>Scenarios played (PFS)</span>
						</div>
						<div class="col-xs-3">
							<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.pfs_gm || '0'}}</span><br>
							<span>Scenarios GMed (PFS)</span>
						</div>
						<div class="col-xs-3">
							<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.core || '0'}}</span><br>
							<span>Scenarios played (CORE)</span>
						</div>
						<div class="col-xs-3">
							<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.core_gm || '0'}}</span><br>
							<span>Scenarios GMed (CORE)</span>
						</div>
					</div>	
					<div class="col-xs-12 text-center content sfs">
						<div class="col-xs-6">
							<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.sfs || '0'}}</span><br>
							<span>Scenarios played (SFS)</span>
						</div>
						<div class="col-xs-6">
							<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.sfs_gm || '0'}}</span><br>
							<span>Scenarios GMed (SFS)</span>
						</div>
					</div>
					<div class="col-xs-12 text-center content pfs2">
						<div class="col-xs-6">
							<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.sfs || '0'}}</span><br>
							<span>Scenarios played (PFS2)</span>
						</div>
						<div class="col-xs-6">
							<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.sfs_gm || '0'}}</span><br>
							<span>Scenarios GMed (PFS2)</span>
						</div>
					</div>
					<div class="col-xs-12 text-center content pacg">
						<div class="col-xs-6">
							<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.sfs || '0'}}</span><br>
							<span>Scenarios played (PACG)</span>
						</div>
						<div class="col-xs-6">
							<span style="font-size: 300%; font-weight: bold;">{{vm.player.totals.sfs_gm || '0'}}</span><br>
							<span>Scenarios GMed (PACG)</span>
						</div>
					</div>
				</div>
				<div style="clear: both"></div>
				<hr>
				<div>
					<h2>Progression <small><a href="/people/{{vm.player.pfsnumber}}/download"><i class="fa fa-fw fa-download"></i> Download</small></a></h2>
					<uib-tabset active="active">
						<uib-tab index="0" heading="PFS campaign">
							<div ng-repeat="content in vm.player.progression">
								<table class="col-xs-12">
									<tr>
										<td rowspan=2 style="width: 75px;"><span style="font-weight: bold">{{content.name}}</span></td>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right; width: 25px;">PC</td>
										<td>
											<uib-progressbar max="content.total" value="content.pfs" title="{{content.name}} progress" class="progressbar-pfstracker" style="margin-bottom: 0px; border-width: 1px; border-bottom: 1px solid #D48E87; border-radius: 5px 5px 0 0; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.pfs}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
									<tr>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right;">GM</td>
										<td>
											<uib-progressbar max="content.total" value="content.pfs_gm" title="{{content.name}} progress" class="progressbar-pfstracker" style="margin-top: 0px; border-top: 0px; border-radius: 0 0 5px 5px; margin-bottom: 3px; border-width: 1px; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.pfs_gm}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
								</table>
							</div>
							<div style="clear: both"></div>
						</uib-tab>
						<uib-tab index="1" heading="CORE campaign">
							<div ng-repeat="content in vm.player.progression">
								<table class="col-xs-12">
									<tr>
										<td rowspan=2 style="width: 75px;"><span style="font-weight: bold">{{content.name}}</span></td>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right; width: 25px;">PC</td>
										<td>
											<uib-progressbar max="content.total" value="content.core" title="{{content.name}} progress" class="progressbar-pfstracker" style="margin-bottom: 0px; border-width: 1px; border-bottom: 1px solid #D48E87; border-radius: 5px 5px 0 0; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.core}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
									<tr>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right;">GM</td>
										<td>
											<uib-progressbar max="content.total" value="content.core_gm" title="{{content.name}} progress" class="progressbar-pfstracker" style="margin-top: 0px; border-top: 0px; border-radius: 0 0 5px 5px; margin-bottom: 3px; border-width: 1px; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.core_gm}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
								</table>
							</div>
							<div style="clear: both"></div>
						</uib-tab>
						<uib-tab index="2" heading="PFS 2.0 campaign">
							<div ng-repeat="content in vm.player.progression_pfs2">
								<table class="col-xs-12">
									<tr>
										<td rowspan=2 style="width: 75px;"><span style="font-weight: bold">{{content.name}}</span></td>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right; width: 25px;">PC</td>
										<td>
											<uib-progressbar max="content.total" value="content.pfs2" title="{{content.name}} progress" class="progressbar-pfstracker" style="margin-bottom: 0px; border-width: 1px; border-bottom: 1px solid #D48E87; border-radius: 5px 5px 0 0; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.pfs2}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
									<tr>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right;">GM</td>
										<td>
											<uib-progressbar max="content.total" value="content.pfs_gm" title="{{content.name}} progress" class="progressbar-pfstracker" style="margin-top: 0px; border-top: 0px; border-radius: 0 0 5px 5px; margin-bottom: 3px; border-width: 1px; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.pfs2_gm}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
								</table>
							</div>
							<div style="clear: both"></div>
						</uib-tab>
						<uib-tab index="3" heading="SFS campaign">
							<div ng-repeat="content in vm.player.progression_sfs">
								<table class="col-xs-12">
									<tr>
										<td rowspan=2 style="width: 75px;"><span style="font-weight: bold">{{content.name}}</span></td>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right; width: 25px;">PC</td>
										<td>
											<uib-progressbar max="content.total" value="content.sfs" title="{{content.name}} progress" class="progressbar-pfstracker sfs" style="margin-bottom: 0px; border-width: 1px; border-bottom: 1px solid #8790d3; border-radius: 5px 5px 0 0; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.sfs}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
									<tr>
										<td style="padding-left: 5px; padding-right: 5px; text-align: right;">GM</td>
										<td>
											<uib-progressbar max="content.total" value="content.sfs_gm" title="{{content.name}} progress" class="progressbar-pfstracker sfs" style="margin-top: 0px; border-top: 0px; border-radius: 0 0 5px 5px; margin-bottom: 3px; border-width: 1px; height: 20px;">
												<span class="bold" style="line-height: 10px">{{content.sfs_gm}} / {{content.total}}</span>
											</uib-progressbar>
										</td>
									</tr>
								</table>
							</div>
							<div style="clear: both"></div>
						</uib-tab>
					</uib-tabset>
					
				</div>
				<div style="clear: both"></div>
				<hr>
			</div>
			
			<div class="col-lg-3">
				<div>
					<h2>Characters</h2>
					<div class="profile-characterlist" ng-class="{'sfs': character.campaign == 'SFS'}" ng-repeat="character in vm.player.characters" ng-style="{'background-image': character.campaign == 'SFS' ? '' : 'url(\'images/factions/{{character.faction}}.png\')'}">
						<div><strong>{{character.name}}</strong> <small>({{vm.player.pfsnumber}}-{{character.number}})</small></div>
						<div><small>{{character.class}} ({{character.level}}) - {{character.campaign}}</small></div>
					</div>
					<div class="text-center" ng-show="!vm.player.characters">
						<i class="fa fa-question-circle-o" style="font-size: 800%; color: #996C6C" aria-hidden="true"></i>
						<br>
						<span>No (public) characters</span>
					</div>
				</div>
				<div style="clear: both"></div>
				<hr>
			</div>
		</div>
	</div>
</div>