<ng-include src="'./views/partials/nav.html'"></ng-include>
<div id="main" class="container">
	<div class="row content">
		<h1><i class="fa fa-bar-chart fa-fw"></i> Statistics</h1>
		<hr>
		<p>( Last updated on: <i>{{vm.lastupdated | date: "dd MMMM yyyy '-' HH:mm Z"}} )</i></p>
		<p>Did you know <strong>{{vm.statistics.totals.players.comment}}</strong> players have registered? Those players come from <strong>{{vm.statistics.totals.countries.comment}}</strong> countries, have reported <strong>{{vm.statistics.totals.sessions.comment}}</strong> sessions and have created <strong>{{vm.statistics.totals.characters.comment}}</strong> characters.</p>
		<p><i>Check out some more specific statistics below!</i></p>	
	</div>
	<div class="row content pfs">
		<h2><i class="fa fa-book fa-fw pfs"></i> Pathfinder</h2>
		<hr>	
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<h3>Most complete PFS players</h3>
			<hr>
			<div class="table-responsive">
				<table class="table table-hover pfs">
					<thead class="">
						<tr>
							<th>#</th>
							<th></th>
							<th>Player</th>
							<th>PFS-nr</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="stat in vm.statistics.player_complete_pfs" ng-click="vm.gotoProfile(stat.person.pfsnumber)" class="point">
							<td>{{stat.number}}</td>
							<td><img ng-if="stat.person.country != NULL && stat.person.country != ''" ng-src="./images/flags/{{stat.person.country | lowercase}}.svg" style="height: 25px;"><span ng-if="stat.person.country == NULL || stat.person.country == ''" style="display: inline-block; height: 25px;"></span></td>
							<td>{{stat.person.name}}</td>
							<td>{{stat.person.pfsnumber}}</td>
							<td>{{stat.comment}}</td>
						</tr>
					</tbody>				
				</table>
			</div>	
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<h3>Most complete PFS GMs</h3>
			<hr>
			<div class="table-responsive">
				<table class="table table-hover pfs">
					<thead class="">
						<tr>
							<th>#</th>
							<th></th>
							<th>Player</th>
							<th>PFS-nr</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="stat in vm.statistics.gm_complete_pfs" ng-click="vm.gotoProfile(stat.person.pfsnumber)" class="point">
							<td>{{stat.number}}</td>
							<td><img ng-if="stat.person.country != NULL && stat.person.country != ''" ng-src="./images/flags/{{stat.person.country | lowercase}}.svg" style="height: 25px;"><span ng-if="stat.person.country == NULL || stat.person.country == ''" style="display: inline-block; height: 25px;"></span></td>
							<td>{{stat.person.name}}</td>
							<td>{{stat.person.pfsnumber}}</td>
							<td>{{stat.comment}}</td>
						</tr>
					</tbody>				
				</table>
			</div>		
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<h3>Most complete CORE players</h3>
			<hr>
			<div class="table-responsive ">
				<table class="table table-hover pfs">
					<thead class="">
						<tr>
							<th>#</th>
							<th></th>
							<th>Player</th>
							<th>PFS-nr</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="stat in vm.statistics.player_complete_core" ng-click="vm.gotoProfile(stat.person.pfsnumber)" class="point">
							<td>{{stat.number}}</td>
							<td><img ng-if="stat.person.country != NULL && stat.person.country != ''" ng-src="./images/flags/{{stat.person.country | lowercase}}.svg" style="height: 25px;"><span ng-if="stat.person.country == NULL || stat.person.country == ''" style="display: inline-block; height: 25px;"></span></td>
							<td>{{stat.person.name}}</td>
							<td>{{stat.person.pfsnumber}}</td>
							<td>{{stat.comment}}</td>
						</tr>
					</tbody>				
				</table>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<h3>Most complete CORE GMs</h3>
			<hr>
			<div class="table-responsive ">
				<table class="table table-hover pfs">
					<thead class="">
						<tr>
							<th>#</th>
							<th></th>
							<th>Player</th>
							<th>PFS-nr</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="stat in vm.statistics.gm_complete_core" ng-click="vm.gotoProfile(stat.person.pfsnumber)" class="point">
							<td>{{stat.number}}</td>
							<td><img ng-if="stat.person.country != NULL && stat.person.country != ''" ng-src="./images/flags/{{stat.person.country | lowercase}}.svg" style="height: 25px;"><span ng-if="stat.person.country == NULL || stat.person.country == ''" style="display: inline-block; height: 25px;"></span></td>
							<td>{{stat.person.name}}</td>
							<td>{{stat.person.pfsnumber}}</td>
							<td>{{stat.comment}}</td>
						</tr>
					</tbody>				
				</table>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<h3>Most played <small>(estimate)</small></h3>
			<hr>
			<div class="table-responsive ">
				<table class="table table-hover pfs">
					<thead class="">
						<tr>
							<th>#</th>
							<th>Type</th>
							<th>Name</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="stat in vm.statistics.played_most" ng-click="vm.gotoScenario(stat.scenario.link)" class="point">
							<td>{{stat.number}}</td>
							<td>
								<span ng-if="stat.scenario.type == 'scenario'" class="glyphicon glyphicon-file scenario icon-large"></span>
								<span ng-if="stat.scenario.type == 'mod'" class="glyphicon glyphicon-tower module icon-large"></span>
								<span ng-if="stat.scenario.type == 'ap'" class="glyphicon glyphicon-globe ap icon-large"></span>
								<span ng-if="stat.scenario.type == 'other'" class="fa fa-fw fa-folder-open icon-large"></span>
							</td>
							<td>{{stat.scenario.name}}</td>
							<td>{{stat.comment}} times</td>
						</tr>
					</tbody>				
				</table>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<h3>Favorite evergreens <small>(estimate)</small></h3>
			<hr>
			<div class="table-responsive ">
				<table class="table table-hover pfs">
					<thead>
						<tr>
							<th>#</th>
							<th>Type</th>
							<th>Name</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="stat in vm.statistics.evergreen" ng-click="vm.gotoScenario(stat.scenario.link)" class="point">
							<td>{{stat.number}}</td>
							<td>
								<span ng-if="stat.scenario.type == 'scenario'" class="glyphicon glyphicon-file scenario icon-large"></span>
								<span ng-if="stat.scenario.type == 'mod'" class="glyphicon glyphicon-tower module icon-large"></span>
								<span ng-if="stat.scenario.type == 'ap'" class="glyphicon glyphicon-globe ap icon-large"></span>
								<span ng-if="stat.scenario.type == 'other'" class="fa fa-fw fa-folder-open icon-large"></span>
							</td>
							<td>{{stat.scenario.name}}</td>
							<td>{{stat.comment}} times</td>
						</tr>
					</tbody>				
				</table>
			</div>
		</div>
	</div>
	<div class="row content sfs">
		<h2><i class="fa fa-plane fa-fw sfs"></i> Starfinder</h2>
		<hr class="sfs">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<h3>Most complete SFS players</h3>
			<hr class="sfs">
			<div class="table-responsive">
				<table class="table table-hover sfs">
					<thead class="">
						<tr>
							<th>#</th>
							<th></th>
							<th>Player</th>
							<th>PFS-nr</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="stat in vm.statistics.player_complete_sfs" ng-click="vm.gotoProfile(stat.person.pfsnumber)" class="point">
							<td>{{stat.number}}</td>
							<td><img ng-if="stat.person.country != NULL && stat.person.country != ''" ng-src="./images/flags/{{stat.person.country | lowercase}}.svg" style="height: 25px;"><span ng-if="stat.person.country == NULL || stat.person.country == ''" style="display: inline-block; height: 25px;"></span></td>
							<td>{{stat.person.name}}</td>
							<td>{{stat.person.pfsnumber}}</td>
							<td>{{stat.comment}}</td>
						</tr>
					</tbody>				
				</table>
			</div>	
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<h3>Most complete SFS GMs</h3>
			<hr class="sfs">
			<div class="table-responsive">
				<table class="table table-hover sfs">
					<thead class="">
						<tr>
							<th>#</th>
							<th></th>
							<th>Player</th>
							<th>PFS-nr</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="stat in vm.statistics.gm_complete_sfs" ng-click="vm.gotoProfile(stat.person.pfsnumber)" class="point">
							<td>{{stat.number}}</td>
							<td><img ng-if="stat.person.country != NULL && stat.person.country != ''" ng-src="./images/flags/{{stat.person.country | lowercase}}.svg" style="height: 25px;"><span ng-if="stat.person.country == NULL || stat.person.country == ''" style="display: inline-block; height: 25px;"></span></td>
							<td>{{stat.person.name}}</td>
							<td>{{stat.person.pfsnumber}}</td>
							<td>{{stat.comment}}</td>
						</tr>
					</tbody>				
				</table>
			</div>		
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<h3>Most played <small>(estimate)</small></h3>
			<hr class="sfs">
			<div class="table-responsive ">
				<table class="table table-hover sfs">
					<thead class="">
						<tr>
							<th>#</th>
							<th>Type</th>
							<th>Name</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="stat in vm.statistics.played_most_sfs" ng-click="vm.gotoScenario(stat.scenario.link)" class="point">
							<td>{{stat.number}}</td>
							<td>
								<span ng-if="stat.scenario.type == 'scenario'" class="glyphicon glyphicon-file scenario icon-large"></span>
								<span ng-if="stat.scenario.type == 'mod'" class="glyphicon glyphicon-tower module icon-large"></span>
								<span ng-if="stat.scenario.type == 'ap'" class="glyphicon glyphicon-globe ap icon-large"></span>
								<span ng-if="stat.scenario.type == 'other'" class="fa fa-fw fa-folder-open icon-large"></span>
							</td>
							<td>{{stat.scenario.name}}</td>
							<td>{{stat.comment}} times</td>
						</tr>
					</tbody>				
				</table>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<h3>Favorite evergreens <small>(estimate)</small></h3>
			<hr class="sfs">
			<div class="table-responsive ">
				<table class="table table-hover sfs">
					<thead class="">
						<tr>
							<th>#</th>
							<th>Type</th>
							<th>Name</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="stat in vm.statistics.evergreen_sfs" ng-click="vm.gotoScenario(stat.scenario.link)" class="point">
							<td>{{stat.number}}</td>
							<td>
								<span ng-if="stat.scenario.type == 'scenario'" class="glyphicon glyphicon-file scenario icon-large"></span>
								<span ng-if="stat.scenario.type == 'mod'" class="glyphicon glyphicon-tower module icon-large"></span>
								<span ng-if="stat.scenario.type == 'ap'" class="glyphicon glyphicon-globe ap icon-large"></span>
								<span ng-if="stat.scenario.type == 'other'" class="fa fa-fw fa-folder-open icon-large"></span>
							</td>
							<td>{{stat.scenario.name}}</td>
							<td>{{stat.comment}} times</td>
						</tr>
					</tbody>				
				</table>
			</div>
		</div>
	</div>
	<div class="row content pfs2">
		<h2><i class="fa fa-book fa-fw pfs2"></i> Pathfinder 2.0</h2>
		<hr class="pfs2">
		<p>Pathfinder 2.0 statistics coming soon.</p>
		<table class="table table-hover pfs2">
					<thead>
						<tr>
							<th>#</th>
							<th>Type</th>
							<th>Name</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="stat in vm.statistics.played_most_sfs" ng-click="vm.gotoScenario(stat.scenario.link)" class="point">
							<td>{{stat.number}}</td>
							<td>
								<span ng-if="stat.scenario.type == 'scenario'" class="glyphicon glyphicon-file scenario icon-large"></span>
								<span ng-if="stat.scenario.type == 'mod'" class="glyphicon glyphicon-tower module icon-large"></span>
								<span ng-if="stat.scenario.type == 'ap'" class="glyphicon glyphicon-globe ap icon-large"></span>
								<span ng-if="stat.scenario.type == 'other'" class="fa fa-fw fa-folder-open icon-large"></span>
							</td>
							<td>{{stat.scenario.name}}</td>
							<td>{{stat.comment}} times</td>
						</tr>
					</tbody>				
				</table>
	</div>
	<div class="row content pacg">
		<h2><i class="fa fa-book fa-fw pacg"></i> Pathfinder Adventure Cardgame</h2>
		<hr class="pacg">
		<p>Pathfinder Adventure Cardgame statistics coming soon.</p>
		<table class="table table-hover pacg">
					<thead>
						<tr>
							<th>#</th>
							<th>Type</th>
							<th>Name</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="stat in vm.statistics.played_most_sfs" ng-click="vm.gotoScenario(stat.scenario.link)" class="point">
							<td>{{stat.number}}</td>
							<td>
								<span ng-if="stat.scenario.type == 'scenario'" class="glyphicon glyphicon-file scenario icon-large"></span>
								<span ng-if="stat.scenario.type == 'mod'" class="glyphicon glyphicon-tower module icon-large"></span>
								<span ng-if="stat.scenario.type == 'ap'" class="glyphicon glyphicon-globe ap icon-large"></span>
								<span ng-if="stat.scenario.type == 'other'" class="fa fa-fw fa-folder-open icon-large"></span>
							</td>
							<td>{{stat.scenario.name}}</td>
							<td>{{stat.comment}} times</td>
						</tr>
					</tbody>				
				</table>
	</div>
</div>