@charset "UTF-8";
body {
  background-color: #DADADA;
  color: black;
  margin-bottom: 10px;
  min-height: 100%;
  padding-top: 60px;
}

.pfs {
  background-color: #fce3e7;
}
.pfs a, .pfs a:active, .pfs a:hover, .pfs a:visited {
  color: #810015;
}
.pfs.fa {
  background-color: transparent;
  color: #810015;
}

.sfs {
  background-color: #E3EBFC;
}
.sfs a, .sfs a:active, .sfs a:hover, .sfs a:visited {
  color: #002063;
}
.sfs.fa {
  background-color: transparent;
  color: #002063;
}

.pfs2 {
  background-color: #e3fcea;
}
.pfs2 a, .pfs2 a:active, .pfs2 a:hover, .pfs2 a:visited {
  color: #00681d;
}
.pfs2.fa {
  background-color: transparent;
  color: #00681d;
}

.pacg {
  background-color: #f9ddff;
}
.pacg a, .pacg a:active, .pacg a:hover, .pacg a:visited {
  color: #6e0054;
}
.pacg.fa {
  background-color: transparent;
  color: #6e0054;
}

.ap {
  color: #884B96;
}

.evergreen {
  color: #006803;
}

.module {
  color: #434BB2;
}

.quest {
  color: #6B6B6B;
}

.scenario {
  color: #8C602A;
}

.special {
  color: #F29900;
}

.icon-small {
  font-size: 15px;
}

.icon-large {
  font-size: 25px;
}

a, a:active, a:hover, a:visited {
  color: #810015;
}

.tracker-pagination {
  margin: 10px 0 10px 0;
}

.tracker-pagination ul {
  margin: 0px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #683d00;
  border-color: #683d00;
  color: white;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background-color: blue;
  border-color: #683d00;
  color: black;
}

.pagination > li > a, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background-color: #ffdebd;
  border-color: #683d00;
  color: black;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  background-color: lightgrey;
  border-color: #683d00;
  color: black;
}

button {
  border: 0;
  background-color: #683d00;
  color: white;
  font-weight: bold;
  font-size: 17px;
  line-height: 40px;
  padding: 0 10px;
}
button a:active, button a:hover {
  background-color: #846c5b;
}
button.report {
  font-size: 14px;
  line-height: 25px;
  margin-right: 5px;
}
button :disabled, button :disabled:hover {
  color: grey;
  cursor: not-allowed;
}
button.pfs {
  background-color: #810015;
  color: white;
}
button.pfs a:active, button.pfs a:hover {
  background-color: pink;
}
button.sfs {
  background-color: #002063;
  color: white;
}
button.sfs a:active, button.sfs a:hover {
  background-color: pink;
}
button.pfs2 {
  background-color: #00681d;
  color: white;
}
button.pfs2 a:active, button.pfs2 a:hover {
  background-color: pink;
}
button.pacg {
  background-color: #6e0054;
  color: white;
}
button.pacg a:active, button.pacg a:hover {
  background-color: pink;
}

button[disabled], button[disabled]:hover {
  background-color: grey;
  cursor: not-allowed;
}

.navbar {
  background-color: #683d00;
}

.navbar-default {
  border-color: #683d00;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand a:active, .navbar-default .navbar-brand a:hover {
  color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #ffdebd;
  color: black;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #ffdebd;
  color: black;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.table thead > tr > th {
  border-bottom: 2px solid #683d00;
}
.table tbody > tr:nth-of-type(odd) {
  background-color: #f2cba4;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  border-top: 1px solid #683d00;
}
.table tbody tr:hover, .table tbody tr:active {
  background-color: blue;
}
.table.pfs thead > tr > th {
  border-bottom: 2px solid #810015;
}
.table.pfs tbody tr:nth-of-type(odd) {
  background-color: #e5bec4;
}
.table.pfs thead > tr > th, .table.pfs tbody > tr > th, .table.pfs tfoot > tr > th, .table.pfs thead > tr > td, .table.pfs tbody > tr > td, .table.pfs tfoot > tr > td {
  border-top: 1px solid #810015;
}
.table.pfs tbody tr:hover, .table.pfs tbody tr:active {
  background-color: #ffaab7;
}
.table.sfs thead > tr > th {
  border-bottom: 2px solid #002063;
}
.table.sfs tbody > tr:nth-of-type(odd) {
  background-color: #c2d0ea;
}
.table.sfs thead > tr > th, .table.sfs tbody > tr > th, .table.sfs tfoot > tr > th, .table.sfs thead > tr > td, .table.sfs tbody > tr > td, .table.sfs tfoot > tr > td {
  border-top: 1px solid #002063;
}
.table.sfs tbody tr:hover, .table.sfs tbody tr:active {
  background-color: #bad2ff;
}
.table.pfs2 thead > tr > th {
  border-bottom: 2px solid #00681d;
}
.table.pfs2 tbody > tr:nth-of-type(odd) {
  background-color: #9fe0b0;
}
.table.pfs2 thead > tr > th, .table.pfs2 tbody > tr > th, .table.pfs2 tfoot > tr > th, .table.pfs2 thead > tr > td, .table.pfs2 tbody > tr > td, .table.pfs2 tfoot > tr > td {
  border-top: 1px solid #00681d;
}
.table.pfs2 tbody tr:hover, .table.pfs2 tbody tr:active {
  background-color: #b7ffca;
}
.table.pacg thead > tr > th {
  border-bottom: 2px solid #6e0054;
}
.table.pacg tbody > tr:nth-of-type(odd) {
  background-color: #e2a7d4;
}
.table.pacg thead > tr > th, .table.pacg tbody > tr > th, .table.pacg tfoot > tr > th, .table.pacg thead > tr > td, .table.pacg tbody > tr > td, .table.pacg tfoot > tr > td {
  border-top: 1px solid #6e0054;
}
.table.pacg tbody tr:hover, .table.pacg tbody tr:active {
  background-color: #ffbaed;
}

.content {
  background-color: #ffdebd;
  border-radius: 15px;
  border: 2px solid #683d00;
  color: black;
  margin: 10px 10px 0 10px;
  padding: 10px;
}
.content .title {
  font-size: 25px;
}
.content .title .authors {
  font-size: 15px;
  font-style: italic;
}
.content.pfs {
  background-color: #fce3e7;
  border-color: #810015;
  color: black;
}
.content.sfs {
  background-color: #E3EBFC;
  border-color: #002063;
  color: black;
}
.content.pfs2 {
  background-color: #e3fcea;
  border-color: #00681d;
  color: black;
}
.content.pacg {
  background-color: #f9ddff;
  border-color: #6e0054;
  color: black;
}

hr {
  border: 1px solid #683d00;
}
hr.pfs {
  border: 1px solid #810015;
}
hr.sfs {
  border: 1px solid #002063;
}
hr.pfs2 {
  border: 1px solid #00681d;
}
hr.pacg {
  border: 1px solid #6e0054;
}

.point {
  cursor: pointer;
}

.center {
  text-align: center;
}

.toast-error {
  background-color: #F4B0B0;
  border: 1px solid #661414;
  color: #661414 !important;
}

.toast-success {
  background-color: #A9E09F;
  border: 1px solid #15470B;
  color: #15470B !important;
}

.toast-info {
  background-color: #A2CFEF;
  border: 1px solid #134A70;
  color: #134A70 !important;
}

.toast-warning {
  background-color: #F4D8B5;
  border: 1px solid #774D19;
  color: #774D19 !important;
}

#toast-container > .toast {
  background-image: none !important;
}

#toast-container > .toast:before {
  position: relative;
  font-family: FontAwesome;
  font-size: 24px;
  line-height: 18px;
  float: left;
  margin-left: -1em;
  padding-right: 0.5em;
  margin-right: 0.5em;
}

#toast-container > .toast-warning:before {
  color: #774D19;
  content: "";
}

#toast-container > .toast-error:before {
  color: #661414;
  content: "";
}

#toast-container > .toast-info:before {
  color: #134A70;
  content: "";
}

#toast-container > .toast-success:before {
  color: #15470B;
  content: "";
}

.toast-top-right {
  margin-top: 50px;
}

.reportcategories button {
  margin-bottom: 3px;
}

.reporting-list {
  font-size: 1.2em;
  list-style: none;
  padding-left: 0px;
}

.reporting-list li {
  margin: 5px 0 5px 0;
  padding: 5px;
}

.reportingoption {
  margin-bottom: 5px;
}

.wanted {
  margin: 5px;
  padding: 5px;
}
.wanted.pfs {
  background-color: #810015;
  color: white;
}

.profile-characterlist {
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 45px;
  margin: 5px 0 5px 0;
  padding: 5px;
}

.progress-bar {
  background-color: #683d00;
  color: white;
  padding: 5px;
  height: 30px !important;
  min-width: 7%;
}

.progressbar-pfstracker {
  background-color: #ffdebd;
  border-radius: 5px;
  border: 2px solid #683d00;
  padding: 0px;
  height: 30px;
}

.tab-pane {
  background-color: #ead4b9;
  border-radius: 5px;
  padding: 10px;
}

.nav-tabs > li > a:hover {
  border: 0;
  background-color: #E8B9B9;
}

.nav-tabs > li > a {
  border: 0px;
  margin-right: 3px;
}

.uib-tab .active a {
  background-color: #ead4b9;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #ead4b9;
  font-weight: bold;
}

.table-responsive {
  border: 0;
}

.login {
  background-color: #ffdebd;
  border-radius: 15px;
  border: 2px solid #683d00;
  color: black;
  padding: 10px;
}

/*# sourceMappingURL=main.css.map */
