<div>    
    <script type="text/ng-template" id="help_search.html">
        <div class="modal-header">
            <h3 class="modal-title">Help: Search</h3>
        </div>
        <div class="modal-body">
			<center><img src="./images/logo_pfs.png" width="350"></center>
			<p>This search bar is your key to filtering for your players.</p>
			<h4>How to search?</h4>
			<p>You can add any number of registered players to your search queries by selecting them by name or PFS number in the search player bar. After you select one, press enter to select a second one, and so on. You can remove players from your search again by clicking/pressing their name under the add player bar.</p>
			<p>For the players you have selected the sessiontracker will make sure to filter out any content they have already played based on what they have reported (see the report page) as having played.<br>Example: <i>Bob has played 50 scenarios, if someone selects Bob as a search criteria the sessiontracker will filter out all 50 of the scenarios Bob has played already.</i></p>
			<p>Note: Do not add the GM to the search. You can GM a scenario more then once. In the future we might introduce some features to help out with this.</p>
        </div>
        <div class="modal-footer">
            <button class="button" ng-click="help.close()" type="button">Dismiss</button>
        </div>
    </script>
</div>