<div>    
    <script type="text/ng-template" id="help_report.html">
        <div class="modal-header">
            <h3 class="modal-title" translate>Help: Report</h3>
        </div>
        <div class="modal-body">
			<center><img src="./images/logo_pfs.png" width="80%"></center>
			<p translate>On this page you can register what content you have played or GMed. You can also look at your progress over all seasons, modules and adventure paths. You can of course also look at all of this for someone else, or even report for a player who doesn't mind.</p>
			<h4 translate>How to report?</h4>
			<p translate>First select a player either by name or PFS number in the 'select player' bar.</p>
			<p translate>You now see the player progress for the player. You can check out his progress in four categories: PFS PC, PFS GM, CORE PC, CORE GM. These correspond to the four types you can play content as. On the left categories have appeared. All content is part of these categories.</p>
			<p translate>Once you select a category you see all the content in the category and once again the four types you can play it as. You can check anything and it will automatically save it on the server. No need to press a save button or anything!</p>
			<p translate>And that's all there is to it!</p>
        </div>
        <div class="modal-footer">
            <button class="button" ng-click="help.close()" type="button" translate>Dismiss</button>
        </div>
    </script>
</div>