<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavController as nav">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">PFS Scenariotracker</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="nav.getClass('/report')"><a href="" ng-click="nav.goto('report')">Report (player)</a></li>
        <li ng-class="nav.getClass('/search')"><a href="" ng-click="nav.goto('search')">Search (party)</a></li>
        <li ng-class="nav.getClass('/plan')"><a href="" ng-click="nav.goto('plan')">Plan (convention)</a></li>        
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	<li class="dropdown" dropdown is-open="nav.othermenu">
			<a href="#" id="other-menu" dropdown-toggle aria-haspopup="true" aria-expanded="false">Other <span class="caret"></span></a>
	        <ul class="dropdown-menu" role="menu" aria-labelledby="other-menu">
				<li ng-class="nav.getClass('/statistics')"><a href="" ng-click="nav.goto('statistics')">Statistics</a></li>	        
	            <li ng-class="nav.getClass('/about')"><a href="" ng-click="nav.goto('about')">About</a></li>
	            <li class="divider"></li>
        		<li ng-class="nav.getClass('/issues')"><a href="" ng-click="nav.goto('issues')">Known Issues</a></li>	            
	        </ul>
	    </li>
	    <li ng-hide="main.loggedin" ng-class="nav.getClass('/login')"><a href="" ng-click="nav.goto('login')">Login</a></li>
        <li ng-hide="main.loggedin" ng-class="nav.getClass('/register')"><a href="" ng-click="nav.goto('register')">Register</a></li>
        <li ng-hide="main.loggedin" ng-class="nav.getClass('/profile')"><a href="" ng-click="nav.goto('profile')"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span>Profile</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>