<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavController as nav">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand visible-xs">AdminTracker</span>
      <span class="navbar-brand hidden-xs">AdminTracker</span>
      <span class="navbar-brand"><span class="fa fa-refresh fa-fw" ng-class="{'fa-spin': nav.loading}" title="Loading"></span></span>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div id="main" class="container">
	<div class="row scenario">
		<h1><i class="fa fa-bomb fa-fw"></i> Error</h1>
		<hr>
		<p>You do not belong here! Shooo! If this is a mistake, please login to the main pfstracker and try again.</p>
	</div>
</div>