@CHARSET "ISO-8859-1";

body {
	background-color: #DADADA;
	padding-top: 70px;
}

.navbar {
	background-color: #6E2D2D;
}

.navbar-default .navbar-brand {
	color: #EDEDED;
}

.navbar-default .navbar-brand:hover {
	color: #EDEDED;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #DFD3C5;
	color: black;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a {
	color: #EDEDED;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: white;
}

.scenario {
	background-color: #FFEFDB;
	border-radius: 15px;
	border: 2px solid #BA6B6B;
	margin: 10px;
	padding: 10px;
}

.scenario .title {
	font-size: 25px;
}

.scenario .title .authors {
	font-size: 15px;
	font-style: italic;
}

.filterbar {
	background-color: #DADADA;
}

.filter label {
	font-weight: normal;
}

.filter .checkbox {
	display: block;
	min-height: 20px;
}

.playerbar {
	background-color: #DADADA;
	padding: 10px;
}

.evergreen {
	cursor: help; 
	color: green;
}

.archived {
	cursor: help;
	color: red;
}

.spinner {
	margin-top: 150px;
}

.pfs-pagination {
	margin: 10px;
}

.filter_player a:hover, .filter_player a:link, .filter_player a:visited, .filter_player a:active {
	color: white;
	text-decoration: none;
}

.found {
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
}

.search-button .report-button {
	float: left;
	text-align: center;
}

.search-button button, .report-button button {
	background-color: #521717;
	border-color: #521717;
}

.search-button button:hover, .report-button button:hover, 
.search-button button:target, .report-button button:target, 
.search-button button:focus, .report-button button:focus,
.search-button button:active, .report-button button:active {
	background-color: #872525 !important;
	border-color: #872525 !important;
}

.home_logo {
	margin: 10px;
}

.reportingfor {
	font-size: 25px;
}

.reportoption {
	margin: 2px;
}

.homelink {
	cursor: pointer;
}

.mainbutton {
	margin: 10px;
}

.vertical {
	display: inline-block;
	float: left;
	font-weight: bold;
	height:0px;
	position: absolute;
	top: 70px;
    -webkit-transform: rotate(90deg) translate(0%,0%);
            transform: rotate(90deg) translate(0%,0%);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
}

.vertical-container {
	height: 70px;
	padding: 7px;
}

.pfs {
	
}

.core {
	left: 19px;
}

.pfsgm {
	left: 29px;
}

.coregm {
	left: 42px;
	
}

.progress-label {
	float: left;
	margin-right: 1em;
	text-align: right;
	width: 10em;
}

.progress {
	margin-bottom: 5px;
	left: 12em;
	position: absolute;
}

.progress-bar-danger {
	background-color: #964646;
}

.playedprogress {
	margin-bottom: 5px;
}