@CHARSET "ISO-8859-1";

body {
	background-color: #DADADA;
}

.scenario {
	background-color: #FFEFDB;
	border-radius: 15px;
	border: 2px solid #BA6B6B;
	margin: 10px;
	padding: 10px;
}

.scenario .title {
	font-size: 25px;
}

.scenario .title .authors {
	font-size: 15px;
	font-style: italic;
}

.filterbar {
	background-color: #DADADA;
}

.filter label {
	font-weight: normal;
}

.filter .checkbox {
	display: block;
	min-height: 20px;
}

.playerbar {
	background-color: #DADADA;
	padding: 10px;
}

.evergreen {
	cursor: help; 
	color: green;
}

.archived {
	cursor: help;
	color: red;
}

.spinner {
	margin-top: 150px;
}

.pfs-pagination {
	margin: 10px;
}

.filter_player a:hover, .filter_player a:link, .filter_player a:visited, .filter_player a:active {
	color: white;
	text-decoration: none;
}

.found {
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
}

.search-button .report-button {
	float: left;
	text-align: center;
}

.search-button button, .report-button button {
	background-color: #521717;
	border-color: #521717;
}

.search-button button:hover, .report-button button:hover, 
.search-button button:target, .report-button button:target, 
.search-button button:focus, .report-button button:focus,
.search-button button:active, .report-button button:active {
	background-color: #872525 !important;
	border-color: #872525 !important;
}

.home_logo {
	margin: 10px;
}

.reportingfor {
	font-size: 25px;
}

.reportoption {
	margin: 2px;
}

.homelink {
	cursor: pointer;
}