@CHARSET "ISO-8859-1";

.scenario {
	border-radius: 15px;
	border: 2px solid #BA6B6B;
	margin: 10px;
	padding: 10px;
}

.scenario .title {
	font-size: 25px;
}

.scenario .title .authors {
	font-size: 15px;
	font-style: italic;
}

.filterbar {
	background-color: #DADADA;
}

.filter label {
	font-weight: normal;
}

.filter .checkbox {
	display: block;
	min-height: 20px;
}

.playerbar {
	background-color: #DADADA;
	padding: 10px;
}

.evergreen {
	cursor: help; 
	color: green;
}

.archived {
	cursor: help;
	color: red;
}

.spinner {
	margin-top: 150px;
}

.pfs-pagination {
	margin: 10px;
}