<div>    
    <script type="text/ng-template" id="whatsnew.html">
        <div class="modal-header">
            <h3 class="modal-title">What's New</h3>
        </div>
        <div class="modal-body">
			<h3><span class="fa fa-fw fa-book"></span> New content</h3>
			<p>Season 10 was added</p>
			<p>The playtest season was added. You can find the accompanying module, Doomsday Dawn, in the module section.</p>
        </div>
        <div class="modal-footer">
            <button class="button" ng-click="help.close()" type="button">Thanks!</button>
        </div>
    </script>
</div>