<div>    
    <script type="text/ng-template" id="whatsnew.html">
        <div class="modal-header">
            <h3 class="modal-title">What's New</h3>
        </div>
        <div class="modal-body">
			<h3><span class="fa fa-fw fa-wrench"></span> Server updates</h3>
			<p>Under the hood a lot of code was updated on the server side. This is to get ready for more new features and to simply patch security weaknesses.</p>
        </div>
        <div class="modal-footer">
            <button class="button" ng-click="help.close()" type="button">Thanks!</button>
        </div>
    </script>
</div>