<div>    
    <script type="text/ng-template" id="whatsnew.html">
        <div class="modal-header">
            <h3 class="modal-title">What's New</h3>
        </div>
        <div class="modal-body">
			<h3><span class="fa fa-fw fa-plane"></span> Starfinder</h3>
			<p>The tracker now supports the new Starfinder game. Use the 'Starfinder' checkbox on the search page to include Starfinder. On the profile page you can use the new 'SFS campaign' tab to see your progression. If you want to report Starfinder you can do so on the reporting page where the Starfinder content is located just below the Pathfinder content.</p>
			<p>All options related to Starfinder are displayed in blue colors, so you can easily see the difference.</p>

			<h3><span class="glyphicon glyphicon-tent"></span> Quests rework</h3>
			<p>Quests are now put back into their respective seasons. If a quest does not have a season number it will be placed in the new 'others' category.</p>

			<h3><span class="fa fa-fw fa-sort-amount-desc"></span> Sorting rework</h3>
			<p>Many parts of the tracker have had issues sorting content properly. That is now a thing of the past, sorting is alphabetically by default and on the search screen you can choose your sort option.</p>

			<h3><span class="fa fa-bug fa-fw"></span> Bugfixes and quality of life</h3>
			<p>Oohhh so many bugfixes. Also some smaller changes to improve quality of life.</p>
        </div>
        <div class="modal-footer">
            <button class="button" ng-click="help.close()" type="button">Thanks!</button>
        </div>
    </script>
</div>